<div style="padding: 10px 0px 20px;">
  <% if @courses %>
	<label>
		Select a course to connect this SALSA to:
		<br><br>
		<%= select_tag(:course_id, options_for_select( @courses.collect {|c| [ c['name'], c['id'] ] }, @document[:lms_course_id]), :include_blank => true ) %>
    <%= select_tag(:course_id, options_for_select( @courses.collect {|c| [ c['name'], c['id'] ] }, @document[:lms_course_id]), :include_blank => true ) %>
	</label>
  <p>
    <!-- <br>
    or
  </p>
  <label>
    Enter the Canvas course ID for the course to connect to:
    <br><br>

    <input type="text" value="<%= @document[:lms_course_id] %>" name="course_id" id="course_input_id">
  </label> -->

  <% else %>
  	You do not appear to be connected to an LMS.
  <% end %>

</div>

<script>
(function($) {
	$(function(){
		$('#compilation_tabs').tabs();
	});
}(jQuery));

var courses = <%= raw(@courses.to_json) %>;
</script>