<div style="padding: 10px 0px 20px;">
  <% if @courses %>
	<label>
    Select your UNLINKED Canvas course to link this SALSA to:<br><br>
        <%= select_tag(:course_id, options_for_select( @unlinked_courses.collect {|c| [ c['name'], c['id'] ] }, @document[:lms_course_id]), :prompt => "Canvas courses NOT linked to a SALSA" ) %><br><br><br>
      </label>
        <label>
     <strong>---OR---</strong><br><br>
     Select your LINKED Canvas course and click on "Send relink request":<br><br>
    <%= select_tag(:course_id, options_for_select( @linked_courses.collect {|c| [ c['name'], c['id'] ] }, @document[:lms_course_id]), :prompt => "Canvas courses LINKED to a SALSA", id: 'replace_course_id' ) %><br><br>
    <a href="mailto:bdye@butlercc.edu?subject=Relink this SALSA to my Canvas course&body=I want to link this SALSA [sub] to this Canvas course " onclick="this.href = this.href.replace('[sub]',window.location)" id="replace_course_email_link">Send relink request</a><br><br><br>
    </em>
	</label>
  <strong>---OR---</strong><br><br>
  Click on "Send support request" and provide a short description of how we can assist you:<br><br>
  <a href="mailto:bdye@butlercc.edu?subject=Link or Support needed for my SALSA&body=I want to link this SALSA [sub] to this Canvas course " onclick="this.href = this.href.replace('[sub]',window.location)">Send support request</a>
  <p>
    <!-- <br>
    or
  </p>
  <label>
    Enter the Canvas course ID for the course to connect to:
    <br><br>

    <input type="text" value="<%= @document[:lms_course_id] %>" name="course_id" id="course_input_id">
  </label> -->

  <% else %>
  	You do not appear to be connected to an LMS.
  <% end %>

</div>

<script>
(function($) {
	$(function(){
		$('#compilation_tabs').tabs();
	});
}(jQuery));

var courses = <%= raw(courses.to_json) %>;
</script>
