<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>News</h2>

         <h3>Phase I Completed with Utah Science Technology and Research (USTAR) Funds</h3>
        <p>
          <a href="https://www.usu.edu/today/?id=54959">Utah State University Licenses Syllabus Software to Oasis4HE</a>
        </p>

        <h3>Campus Technology</h3>
        <p>
          <a href="http://campustechnology.com/articles/2014/07/21/utah-state-develops-open-source-syllabus.aspx">Utah State Develops Open Source Syllabus</a>
        </p>
      </div><!-- .col-sm-4 -->
       <div class="col-sm-4">
        <h2>Contribute</h2>

        <h3>Get the code @ GitHub</h3>
        <p>
          <a href="https://github.com/oasis4hedev/salsa">Salsa project repository</a>
        </p>

      </div><!-- .col-sm-4 -->
      <div class="col-sm-4">
        <h2>Resources</h2>

        <h3>More Information Please</h3>
        <p>
           Learn more about <a href="https://goo.gl/hzXslN">Salsa's Features</a>.
        </p>

        <h3><abbr title="higher-education">HE</abbr> Syllabus Templates</h3>
        <p>
          Review more than 150 <a href="https://goo.gl/2Qo43W">higher education syllabus templates</a>.
        </p>
      </div><!-- .col-sm-4 -->


    </div><!-- .row -->
  </div><!-- .container -->

</footer>
