<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>News</h2>
        
        <h3>Campus Technology</h3>
        <p>
          <a href="http://campustechnology.com/articles/2014/07/21/utah-state-develops-open-source-syllabus.aspx" target="_blank">Utah State Develops Open Source Syllabus</a>
        </p>

        <h3>Instructional Development Center @ Purdue University</h3>
        <p>
          <a href="https://www.purdue.edu/learning/blog/?p=6959" target="_blank"><abbr title="Styled and accessible learning service agreement">SALSA</abbr> – A tool to develop learning outcomes/objectives and syllabus</a>
        </p>
        <h3>Open Source in Education</h3>
        <p>
          <a href="https://plus.google.com/+DougHolton/posts/gj13KfYoxpR" target="_blank"><abbr title="Styled and accessible learning service agreement">SALSA</abbr> is an open source syllabus creator tool out of <abbr title="Utah State University">USU</abbr></a>
        </p>
      </div><!-- .col-sm-4 -->
       <div class="col-sm-4">
        <h2>Contribute</h2>

        <h3>Get the code @ GitHub</h3>
        <p>
          <a href="https://github.com/idbygeorge/salsa" target="_blank">Salsa project repository</a>
        </p>  

        <h3>$upport the project </h3>
          <a href="https://salsa.tilt.com/donations" target="_blank">Make a tax-deductible donation</a>
          <div style="padding-top: 10px">
          <img alt="Powered by Tilt" src="https://crowdtiltopen.s3.amazonaws.com/CrowdtiltOpen/assets/powered_by_tilt-a461a3f8d97bf2c76311ba638f1b5162.png" width="104px">
          </div>
         
      </div><!-- .col-sm-4 -->
      <div class="col-sm-4">
        <h2>Resources</h2>

        <h3>Open Syllabus Project</h3>
        <p>
          The <a href="http://opensyllabusproject.org/" target="_blank">Open Syllabus Project</a> is gathering and analyzing a significant corpus of syllabi.
        </p>

        <h3><abbr title="higher-education">HE</abbr> Syllabus Templates</h3>
        <p>
          Archive of <a href="https://docs.google.com/document/d/12HomlfD_1sPuQo8zUmst7FZLQ7jF8tT5VJiJuO6w9eg/edit?usp=sharing" target="_blank">higher-education syllabus templates</a>.
        </p>
      </div><!-- .col-sm-4 -->
     

    </div><!-- .row -->
  </div><!-- .container -->

</footer>