<!-- Carousel
================================================== -->
<head>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <h1>
        <a href="<% if params[:sub_organization_slugs] %><%= new_sub_org_document_path params[:sub_organization_slugs] %><% else %><%= new_document_path %><% end %>"><img src="/img/home/hero.jpg" alt="SALSA"></a>
      </h1>

      <div class="container">
        <div class="carousel-caption">
          <p>
            Styled &amp; Accessible Learning
            <br>
            Service Agreements
          </p>
          <a class="btn btn-lg btn-primary" href="<% if params[:sub_organization_slugs] %><%= new_sub_org_document_path params[:sub_organization_slugs] %><% else %><%= new_document_path %><% end %>" role="button" id="new_salsa">No signup <span class="fa fa-hand-o-right"></span> click & create</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->
