<!-- example class is for the example for the tab -->
<div id="example">
<div id="example_information">
    <section>
        <header>
                <h1>Creating a SALSA for Your Course</h1>
                <h1>CIDI 1010 | Fall 2025</h1>
        </header>

        <div class="section1">
            <h2>Contact Information</h2>

            <div class="contacts">
                <h3>Instructor</h3>
                <div>
                    <ul class="none">
                        <li>Caroline Baker</li>
                        <li><a href="mailto:caroline.baker@usu.edu">caroline.baker@usu.edu</a></li>
                        <li>797-9000</li>
                    </ul>
                </div>
            </div>

            <div class="contacts">
                <h3>Teaching Assistant</h3>
                <div>
                    <ul class="none">
                        <li>Mark diGrades</li>
                        <li><a href="mailto:markdigrades@usu.edu">markdigrades@usu.edu</a></li>
                    </ul>
                    <p>&nbsp;</p>
                </div>
            </div>

        </div><!-- .section1 -->

        <div class="section2">
            <h2>Welcome to Class</h2>
            <div class="details">
                <div class="description">
                    <div>
                        <p>Welcome to CIDI 1010! I have been teaching this course for four years now, and I learn something new each semester. While this class is focused on creating a learning services agreement for teaching in higher education, I think you will find the principles will apply to many instructional contexts. I would like each student to create his or her own learning experience within the framework I have developed, so if you have ideas-- let's talk.</p>
                        <p>Please take the time to review this learning services agreement thoroughly. It has all the information you need to be successful in this course. After you have read this document, if any part of the course is unclear, please email me.</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div><!-- .section2 -->

        <div class="section3">
            <h2>Course Description</h2>
            <div class="details">
                <div class="description">
                    <div>
                        <p>This accelerated online course will provide students with opportunities to learn the components of a SALSA: a <strong>S</strong>tyled & <strong>A</strong>ccessible <strong>L</strong>earning <strong>S</strong>ervices <strong>A</strong>greement. Students will explore their instructional strengths and weaknesses as indicated by an inventory of their personal beliefs, knowledge and practices. Students will create a SALSA that identifies course: Information, Outcomes, Resources, Activities, Policies and Grades. To conclude the course, each student will conduct an evaluation of another student's SALSA.</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div><!-- .section3 -->
    </section>
</div>

<div id="example_outcomes">
<section>
    <div class="section4">
        <h2>Learning Outcomes</h2>
        <div class="details">
            <div class="description">
                <div>
                    Upon completion of this course you will be able to:
                </div>
                <div>
                <!-- bullets should be visible in this list -->
                    <ul>
                        <li>Identify the basic components of a higher education SALSA</li>
                        <li>Conduct a Personal Resources Inventory</li>
                        <li>Develop a course communication strategy</li>
                        <li>Identify strategies for learner success</li>
                        <li>Construct a SALSA that demonstrates the proceeding outcomes</li>
                        <li>Evaluate another student's SALSA</li>
                    </ul>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div><!-- .section4 -->
</section>
</div>

<div id="example_resources">
<section>
    <div class="section5">
        <h2>Learning Resources</h2>
        <div class="details">
            <div class="description">
                <h3>Canvas</h3>
                <div>
                    <p>Canvas is the Learning Management System that we will use for our course. You can login to Canvas at http://online.usu.edu. Login with your A-Number and strong password (the same credentials you use for Access or AggieMail). You will find a number of Student Tutorials for Canvas on this login page.</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Technical Support</h3>
                <div>
                    <p>For any technical problems with your computer related to accessing Canvas, please contact the IT Service Desk at 435.797.HELP(4357). There is a "Live Chat" feature, hours of availability and email information on the <a href="http://canvas.usu.edu">http://canvas.usu.edu page.</a></p>
                    <p>&nbsp;</p>
                </div>
                <h3>Software</h3>
                <div>
                    <p>All documents in this course are PDF files. You will need Adobe Reader to view these files, which you can obtain for free at <a href="http://get.adobe.com/reader/">http://get.adobe.com/reader/</a>.</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Textbook & Reading Materials</h3>
                <div>
                    <p>The text for this class will be The Course Syllabus: A Learning-Centered Approach by O'brein, Millis & Cohen, second edition, published by Jossey-Bass, ISDN#047019617. You may purchase this book at the bookstore or online. Make sure you get the second edition!</p>
                    <p>&nbsp;</p>
                    <p>Readings will be taken from peer-reviewed journals and education magazines. Most readings will be available in Canvas as PDF files. Other readings will be available online, with a hyperlink provided in Canvas.</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Video Presentations</h3>
                <div>
                    <p>Weekly online presentations will be posted in Canvas. Instructor presentations will be viewed on an embedded player (you will not need to have a media player installed on your machine). The presentation slides will be provided as a PDF file which can be viewed on your computer, downloaded and printed.</p>
                    <p>&nbsp;</p>
                    <p>All other videos will be available on YouTube.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div><!-- .section5 -->
</section>
</div>

<div id="example_activities">
<section>
    <div class="section6">
        <h2>Learning Activities</h2>
        <div class="details">
            <div class="description">
                <h3>Readings</h3>
                <div>
                    <p>We will read approximately one chapter from the textbook and one or two Additional Readings each week. Assignments related to the readings will alternate between a weekly quiz and a weekly discussion.</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Video Presentations</h3>
                <div>
                    <p>Most weeks there will be an Instructor presentation related to the readings. You are expected to complete all readings before viewing the presentation. The presentation will be focused more on synthesis and expansion of the reading materials, so it is your responsibility to gain a basic understanding of the reading materials first.</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Quizzes</h3>
                <div>
                    <p>You will be required to complete four "No-pressure Quizzes". These quizzes will consist of approximately ten multiple-choice, fill-in-the-blank, matching and/or true/false questions based on the readings and presentations. You are expected to complete all readings and view the presentation before you take the quiz. You must get ALL the quiz questions correct to receive ANY quiz points, but you may RETAKE the quiz as many times as you would like.</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Discussions</h3>
                <div>
                    <p>You will participate in four Discussions on Canvas (one introduction and three regular). In order to earn the Discussion Points, you must post one message and two replies (where you reply to someone else's message) for each Discussion Topic.</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Assignments</h3>
                <div>
                    <p>There will be six Assignments for this course: Personal Resources Inventory, Learning Service Agreements, Communication Strategies, Student Learning Strategies, Course SALSA and SALSA Evaluation. Complete information on these activities is available on Canvas. Please refer to the "Grading" section for the Assignment point values.</p>
                    <p>&nbsp;</p>
                    <p>Assignment files will be in PDF format. You will be able to add information to these files, and save a copy for submission. For more information, watch this video: <a href="http://www.youtube.com/watch?v=4uolYGsmxlE">http://www.youtube.com/watch?v=4uolYGsmxlE</a>.</p>
                    <p>&nbsp;</p>
                    <p>Assignments will posted in Canvas using the Assignments tool (see the "Canvas Orientation for Students" in the "Support" section for instructions on using this tool). Students will use the Assignment tool to download the Assignment instructions file and submit the completed Assignments. You are responsible for knowing how to use the Assignment tool. Late submissions due to improper usage of the Assignment tool will not be accepted.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div><!-- .section6 -->
</section>
</div>

<div id="example_policies">
<section>
    <div class="section7">
        <h2>Course Policies</h2>
        <div class="details">
            <div class="description">
                <h3>Instructor Feedback/Communication</h3>
                <div>
                    <p>I will be reading Discussions and replying to messages occasionally. You will receive specific feedback on your Assignments in the form of text comments appended to your electronic submissions.</p>
                    <p>I will use the Announcements tool in Canvas to communicate changes to the course and other course information. For information on using the Announcements tool, view the video at <a href="http://podcasts.usu.edu/MediaPlayer/genplayer.htmlfilename=Podcasts/canvas/tutorials/AnnouncementsSubtitled.mov">http://podcasts.usu.edu/MediaPlayer/genplayer.htmlfilename=Podcasts/canvas/tutorials/AnnouncementsSubtitled.mov</a>.</p>
                    <p>I will contact individual students through the Canvas messaging tool.</p>
                </div>
                <h3>Student Feedback/Communication</h3>
                <div>
                    <p>I welcome all feedback on the course. My preferred method of communication with individual students is through the Canvas Conversations tool, which forwards to my USU email account: <a href="mailto:caroline.baker@usu.edu">caroline.baker@usu.edu</a>. I will respond to messages within two week days (Monday – Friday).</p>
                    <p>If you experience a legitimate emergency (according to my standards) that will prevent you from completing required coursework on time, I expect you to communicate with me at the earliest reasonable opportunity. Please state the nature of the emergency, and when you expect to turn in the coursework.</p>
                </div>
                <h3>SALSA Changes</h3>
                <div>
                    <p>I have made every effort to present accurate and complete information, but this SALSA is subject to changes. I will notify the class regarding all changes.</p>
                    <p>In the event of any discrepancy between information in this SALSA and on Canvas, the information in CANVAS WILL TAKE PRECENDENCE.</p>
                </div>
                <h3>Submitting Electronic Files</h3>
                <div>
                    <p>All electronic files must be submitted in PDF format. Please name your file in the using the following convention: Assignmentname_Yourname.doc. Thus, if my name where Alex Noteworthy and I was submitting the "SALSA Draft" assignment, I would rename the "SALSADraft.pdf" file as "SALSADraft_AlexNoteworthy.pdf".</p>
                    <p>Files in formats other than PDF and/or without the proper naming convention (or at least a reasonable attempt) will be returned to the student and additional handling charges (lost points) may apply.</p>
                </div>
                <h3>Course Fees</h3>
                <div>
                    <p>There are no course fees associated with this course.</p>
                </div>
                <h3>Late Work</h3>
                <div>
                    <p>Late work due to procrastination will not be accepted. Late work due to legitimate emergency may be accepted.</p>
                    <p>The due date and time associated with each quiz, discussion, exam and assignment are stated clearly in Canvas and on the Course Schedule.</p>
                </div>
            </div>
        </div>
    </div><!-- .section7 -->
</section>

<section>
    <!-- The UNIVERSITY POLICIES information is stored in a MY SQL database. These fields will be dynamically populated through a web service. -->
    <div class="section8">
        <h2>University Policies</h2>
        <div class="details">
            <div class="description">
                <h3>Honor Pledge</h3>
                <div>
                    <p>Students will be held accountable to the Honor Pledge which they have agreed to: "I pledge, on my honor, to conduct myself with the foremost level of academic integrity."</p>
                    <p>&nbsp;</p>
                </div>
                <h3>Academic Honesty</h3>
                <div>
                    <p>The Instructor of this course will take appropriate actions in response to Academic Dishonesty, as defined by the University's Student Code:</p>
                    <p>&nbsp;</p>
                    <p>Acts of academic dishonesty include but are not limited to:</p>
                    <!-- Manual break tags are used inline to create space between list items. Create new class in CSS? -->
                    <ul>
                        <li>Cheating: (1) using or attempting to use or providing others with any unauthorized assistance in taking quizzes, tests, examinations, or in any other academic exercise or activity, including working in a group when the instructor has designated that the quiz, test, examination, or any other academic exercise or activity be done "individually"; (2) depending on the aid of sources beyond those authorized by the instructor in writing papers, preparing reports, solving problems, or carrying out other assignments; (3) substituting for another student, or permitting another student to substitute for oneself, in taking an examination or preparing academic work; (4) acquiring tests or other academic material belonging to a faculty member, staff member, or another student without express permission; (5) continuing to write after time has been called on a quiz, test, examination, or any other academic exercise or activity; (6) submitting substantially the same work for credit in more than one class, except with prior approval of the instructor; or (7) engaging in any form of research fraud.</li>
                        <li>Falsification: altering or fabricating any information or citation in an academic exercise or activity.</li>
                        <li>Plagiarism: representing, by paraphrase or direct quotation, the published or unpublished work of another person as one's own in any academic exercise or activity without full and clear acknowledgment. It also includes using materials prepared by another person or by an agency engaged in the sale of term papers or other academic materials.</li>
                    </ul>
                  <p>The complete Code of Policies and Procedures for Students at Utah State University can be viewed at: <a href="http://www.usu.edu/studentservices/studentcode/" target="_blank">http://www.usu.edu/studentservices/studentcode/.</a></p>
                  <p>&nbsp;</p>
                </div>

                <h3>Students with Disabilities</h3>
                <div>
                    <p>Students with ADA-documented physical, sensory, emotional or medical impairments may be eligible for reasonable accommodations. Veterans may also be eligible for services. All accommodations are coordinated through the Disability Resource Center (DRC) in Room 101 of the University Inn, (435)797-2444 voice, (435)797-0740 TTY, (435)797-2444 VP, or toll free at 1-800-259-2966. Please contact the DRC as early in the semester as possible. Alternate format materials (Braille, large print or digital) are available with advance notice.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div><!-- .section8 -->
</section>
</div>

<div id="example_grades">
<section>
    <div class="section9">
        <h2>Grades</h2>
        <div class="details">
            <div class="description">
                <div>
                    <p>Your grade will be based on the following:</p>
                    <p>&nbsp;</p>
                </div>
                <div>
                <!-- Components example table.-->
                    <table id="table1" class="components" border="1">
                        <thead>
                            <tr><th>Items</th><th>Points</th></tr>
                        </thead>
                        <tfoot>
                            <tr class="total"><td>Total Points</td><td class="right">1000</td></tr>
                        </tfoot>
                        <tbody>
                            <tr id="1"><td class="left">Quizzes (4 @ 25)</td><td class="right">100</td></tr>
                            <tr id="2"><td class="left">Discussions (4 @ 25)</td ><td class="right">100</td></tr>
                            <tr id="3"><td class="left">Personal Resources Inventory</td><td class="right">100</td></tr>
                            <tr id="4"><td class="left">Learning Service Agreements</td><td class="right">100</td></tr>
                            <tr id="5"><td class="left">Communication Strategies</td><td class="right">100</td></tr>
                            <tr id="6"><td class="left">Student Learning Strategies</td><td class="right">100</td></tr>
                            <tr id="7"><td class="left">Course SALSA</td><td class="right">300</td></tr>
                            <tr id="8"><td class="left">SALSA Evaluation</td><td class="right">100</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .section9 -->
    
    <div class="section10">
            <div class="details">
                <div class="description">
                    <div>
                        <p>&nbsp;</p>
                        <p>Your grade will be calculated with this scale:</p>
                    </div>
                    <div>
                        <table class="components" border="1">
                                <thead>
                                    <tr><th>Grade</th><th>Percentage</th><th>Points</th></tr>
                                </thead>
                                  <tbody class="center">
                                    <tr><td>A</td><td><span class="editable">93</span> - 100</td><td>930 - 1000</td></tr>
                                    <tr class="even"><td>A-</td><td><span class="editable">90</span>- &nbsp;92</td><td>900 - 929</td></tr>
                                    <tr><td>B+</td><td><span class="editable">87</span> - &nbsp;89</td><td>870 - 899</td></tr>
                                    <tr class="even"><td>B</td><td><span class="editable">83</span>- &nbsp;86<td>830 - 869</td></tr>
                                    <tr><td>B-</td><td><span class="editable">80</span> - &nbsp;82</td><td>800 - 829</td></tr>
                                    <tr class="even"><td>C+</td><td><span class="editable">77</span>- &nbsp;79</td><td>770 - 799</td></tr>
                                    <tr><td>C</td><td><span class="editable">73</span> - &nbsp;76</td><td>730 - 769</td></tr>
                                    <tr class="even"><td>C-</td><td><span class="editable">70</span>- &nbsp;72</td><td>700 - 729</td></tr>
                                    <tr><td>D+</td><td><span class="editable">67</span> - &nbsp;69</td><td>670 - 699</td></tr>
                                    <tr class="even"><td>D</td><td><span class="editable">60</span> - &nbsp;66</td><td>600 - 669</td></tr>
                                    <tr><td>F</td><td>below - &nbsp;59</td><td>0 - 599</td></tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div><!-- .section10 -->
</section>
</div>
</div><!-- example -->
