<!-- Used by right-hand tool pallette to create new fields and rows -->
    <div id="templates">

    <!-- tableText template -->
    <div id="tableText_template">
        <div class="editableHtml">Text</div>
    </div>  

    <!-- h3 template -->         
        <div class="description">
            <h3 class="editable" data-can-delete="true">Heading</h3>
            <div class="editableHtml">
                Text
            </div>
        </div>

    <!-- assignment template -->         
        <div id="assignment_template" class="assignment">
            <h3 class="editable" data-can-delete="true">Assigmment</h3>
            <div class="editableHtml">
                Text
            </div>
        </div>

    <!-- contact template --> 
        <div class="contact" id="contact_template">
                <h3 class="editable" data-can-delete="true">Contact Title</h3>
                <div class="editableHtml">
                    <ul class="none">
                        <li>name</li>
                        <li>email</li>
                        <li>phone</li>
                        <li>other1</li>
                        <li>other2</li>
                    </ul>
                </div> 
        </div>

    <!-- Topics template -->        
        <table id="topics_template">
            <tr class="editableRequired nodrag">
                <th id="colTopicsRightNew"><div class="editable">New Topic</div></th>
                <td class="time"><div class="editable minutes">minutes</div></td>
                <td class="colObjective1"></td>
                <td class="colObjective1"></td>
                <td class="colObjective1"></td>
                <td class="colObjective2"></td>
                <td class="colObjective2"></td>
                <td class="colObjective2"></td>
                <td class="colObjective3"></td>
                <td class="colObjective3"></td>
                <td class="colObjective3"></td>
            </tr>
        </table>

    <!-- generic table templates -->
       <!-- 3-column table template -->

        <table id="3_column_template">
            <tr>
                <td header="col-left" class="col-left editable left">Text</td>
                <td header="col-middle" class="col-middle editable left">Text</td>
                <td header="col-right" class="col-right editable left">Text</td>
            </tr>
        </table>

        <!-- 2-column table template -->
        <table id="2_column_template">
            <tr>
                <td header="col-left" class="col-left editable left">Text</td>
                <td header="col-right" class="col-right editable left">Text</td>
            </tr>
        </table>

    <!-- Schedule table templates -->
        <!-- table1 template -->
        <table id="table1_row_template">
            <tr>
                <td header="col2s-left" class="col-left15 editable center">#</td>
                <td header="col2s-middle" class="col-middle35 editable left">Text</td>
                <td header="col2s-right" class="col-right50 editable left">Text</td>
            </tr>
        </table>

        <!-- table2 template -->
        <table id="table2_row_template">
            <tr>
                <td header="col3s-left" class="col-left15 editable center">#</td>
                <td header="col3s-middle" class="col-middle35 editable left">Text</td>
                <td header="col3s-right" class="col-right50 editable left">Text</td>
            </tr>
        </table>

        <!-- table3 template -->
        <table id="table3_row_template">
            <tr>
                <td header="col4s-left" class="col-left15 editable center">#</td>
                <td header="col4s-middle" class="col-middle35 editable left">Text</td>
                <td header="col4s-right" class="col-right50 editable left">Text</td>
            </tr>
        </table>

    <!-- Grades table templates -->
        <!-- Grade item template -->
        <table id="grade_component_row_template">
            <tr><td class="editable">Item</td><td class="editable right">-</td></tr>
        </table>

        <!-- Extra Credit item template -->
        <table id="extra_credit_row_template">
            <tr><td class="editable">Item</td><td class="editable right">-</td></tr>
        </table>

    </div> <!-- #templates --> 