    <nav id="tabs">
        <ul>
            <li class="schedule button" onmouseover="liteOn(schedule,'#F5F5F5')" onmouseout="liteOff(schedule)"><a href="#schedule">schedule</a></li>
            <li class="information button" onmouseover="liteOn(information,'#F5F5F5')" onmouseout="liteOff(information)"><a href="#information">information</a></li>
            <li class="outcomes button" onmouseover="liteOn(outcomes,'#E6F7FF')" onmouseout="liteOff(outcomes)"><a href="#outcomes">objectives</a></li>
            <li class="activities button" onmouseover="liteOn(activities,'#F8FFE6')" onmouseout="liteOff(activities)"><a href="#activities">assignments</a></li>
            <li class="policies button" onmouseover="liteOn(policies,'#EBEBFF')" onmouseout="liteOff(policies)"><a href="#policies">policies</a></li>
            <li class="grades button" onmouseover="liteOn(grades,'#F9FFEB')" onmouseout="liteOff(grades)"><a href="#grades">grades</a></li> 
            <%# 
            <li class="resources button" onmouseover="liteOn(resources,'#FFFDE6')" onmouseout="liteOff(resources)"><a href="#resources">resources</a></li>
            
            
            %>          
        </ul>
    </nav>
