    <form id="controlPanel">
        <aside class="information" data-target="#information .content">
            <section class="first" data-target="header" onmouseover="liteOn(title1I,'#F5F5F5')" onmouseout="liteOff(title1I)">
                <header>
                    Information
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="informationContentSpacingAdd">Add spacing</label>
                    <input type="button" name="informationContentSpacingAdd" id="informationContentSpacingAdd" value="+">
                    <label for="informationContentSpacingRemove">Remove spacing</label>
                    <input type="button" name="informationContentSpacingRemove" id="informationContentSpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-element="div" data-text='["Course Name", "Course Number | Term/Year","Text","Text","Text"]' data-max="5" data-min="1" data-target="hgroup h1">
                    <legend>text</legend>
                    <label for="informationTitleAdd">Add title</label>
                    <input type="button" name="informationTitleAdd" id="informationTitleAdd" value="+">
                    <label for="informationTitleRemove">Remove title</label>
                    <input type="button" name="informationTitleAdd" id="informationTitleRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section1" class="ui-state-active">
                <header data-method="toggleContent" onmouseover="liteOn(section1I,'#F5F5F5')" onmouseout="liteOff(section1I)">
                    <input type="button" value="Contacts">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="informationContentSpacingAdd">Add spacing</label>
                    <input type="button" name="informationContentSpacingAdd" id="informationContentSpacingAdd" value="+">
                    <label for="informationContentSpacingRemove">Remove spacing</label>
                    <input type="button" name="informationContentSpacingRemove" id="informationContentSpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-element=".contact" data-max="4" data-min="0" data-template="#contact_template" data-target='.contacts' onmouseover="liteOn(contacts1I,'#F5F5F5')" onmouseout="liteOff(contacts1I)">
                    <legend>contacts</legend>
                    <label for="informationContactAdd">Add contact</label>
                    <input type="button" name="informationContactAdd" id="informationContactAdd" value="+">
                    <label for="informationContactRemove">Remove contact</label>
                    <input type="button" name="informationContactRemove" id="informationContactRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section2" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section2I,'#F5F5F5')" onmouseout="liteOff(section2I)">
                    <input type="button" value="Section 2">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="1" data-step="12px">
                    <legend>spacing</legend>
                    <label for="informationSection2SpacingAdd">Add spacing</label>
                    <input type="button" name="informationSection2SpacingAdd" id="informationSection2SpacingAdd" value="+">
                    <label for="informationSection2SpacingRemove">Remove spacing</label>
                    <input type="button" name="informationSection2SpacingRemove" id="informationSection2SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings2I,'#F5F5F5')" onmouseout="liteOff(headings2I)">
                    <legend>headings</legend>
                    <label for="informationAdd">Add activity</label>
                    <input type="button" name="informationAdd" id="informationAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="informationRemove" id="informationRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section3" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section3I,'#F5F5F5')" onmouseout="liteOff(section3I)">
                    <input type="button" value="Section 3">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="1" data-step="12px">
                    <legend>spacing</legend>
                    <label for="informationSection3SpacingAdd">Add spacing</label>
                    <input type="button" name="informationSection3SpacingAdd" id="informationSection3SpacingAdd" value="+">
                    <label for="informationSection3SpacingRemove">Remove spacing</label>
                    <input type="button" name="informationSection3SpacingRemove" id="informationSection3SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings3I,'#F5F5F5')" onmouseout="liteOff(headings3I)">
                    <legend>headings</legend>
                    <label for="informationAdd">Add activity</label>
                    <input type="button" name="informationAdd" id="informationAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="informationRemove" id="informationRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section4" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section4I,'#F5F5F5')" onmouseout="liteOff(section4I)">
                    <input type="button" value="Section 4">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="informationSection4SpacingAdd">Add spacing</label>
                    <input type="button" name="informationSection4SpacingAdd" id="informationSection4SpacingAdd" value="+">
                    <label for="informationSection4SpacingRemove">Remove spacing</label>
                    <input type="button" name="informationSection4SpacingRemove" id="informationSection4SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings4I,'#F5F5F5')" onmouseout="liteOff(headings4I)">
                    <legend>headings</legend>
                    <label for="informationAdd">Add activity</label>
                    <input type="button" name="informationAdd" id="informationAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="informationRemove" id="informationRemove" value="-">
                </fieldset>
            </section>
        </aside><!-- .information -->

        <aside class="outcomes" data-target="#outcomes .content">
            <section data-target=".section1">
                <header class="tool">
                    <a href="#" class="toggler"><i class="foundicon-tools" title="Bloom's Revised"></i>&nbsp;Bloom's Revised</a>
                </header>
                <dl data-method="taxonomy" data-target=".outcomes_list" class="hide">
                    <dt>Remember</dt>
                        <dd>Choose</dd>
                        <dd>Define</dd>
                        <dd>Describe</dd>
                        <dd>Identify</dd>
                        <dd>Label</dd>
                        <dd>List</dd>
                        <dd>Locate</dd>
                        <dd>Match</dd>
                        <dd>Memorize</dd>
                        <dd>Name</dd>
                        <dd>Omit</dd>
                        <dd>Recite</dd>
                        <dd>Recognize</dd>
                        <dd>Select</dd>
                        <dd>State</dd>
                    <dt>Understand</dt>
                        <dd>Classify</dd>
                        <dd>Defend</dd>
                        <dd>Demonstrate</dd>
                        <dd>Distinguish</dd>
                        <dd>Explain</dd>
                        <dd>Express</dd>
                        <dd>Extend</dd>
                        <dd>Give example</dd>
                        <dd>Illustrate</dd>
                        <dd>Indicate</dd>
                        <dd>Infer</dd>
                        <dd>Interpret</dd>
                        <dd>Judge</dd>
                        <dd>Paraphrase</dd>
                        <dd>Represent</dd>
                        <dd>Restate</dd>
                        <dd>Rewrite</dd>
                    <dt>Apply</dt>
                        <dd>Act</dd>
                        <dd>Articulate</dd>
                        <dd>Assess</dd>
                        <dd>Change</dd>
                        <dd>Chart</dd>
                        <dd>Compute</dd>
                        <dd>Construct</dd>
                        <dd>Contribute</dd>
                        <dd>Control</dd>
                        <dd>Determine</dd>
                        <dd>Develop</dd>
                        <dd>Discover</dd>
                        <dd>Draw</dd>
                        <dd>Establish</dd>
                        <dd>Extend</dd>
                        <dd>Imitate</dd>
                        <dd>Implement</dd>
                        <dd>Include</dd>
                        <dd>Participate</dd>
                        <dd>Predict</dd>
                        <dd>Prepare</dd>
                        <dd>Produce</dd>
                        <dd>Provide</dd>
                        <dd>Show</dd>
                    <dt>Analyze</dt>
                        <dd>Break down</dd>
                        <dd>Characterize</dd>
                        <dd>Classify</dd>
                        <dd>Compare</dd>
                        <dd>Contrast</dd>
                        <dd>Correlate</dd>
                        <dd>Deduce</dd>
                        <dd>Diagram</dd>
                        <dd>Differentiate</dd>
                        <dd>Discriminate</dd>
                        <dd>Distinguish</dd>
                        <dd>Examine</dd>
                        <dd>Limit</dd>
                        <dd>Outline</dd>
                        <dd>Prioritize</dd>
                        <dd>Research</dd>
                        <dd>Relate</dd>
                        <dd>Subdivide</dd>
                    <dt>Evaluate</dt>
                        <dd>Appraise</dd>
                        <dd>Argue</dd>
                        <dd>Criticize</dd>
                        <dd>Critique</dd>
                        <dd>Debate</dd>
                        <dd>Estimate</dd>
                        <dd>Evaluate</dd>
                        <dd>Justify</dd>
                        <dd>Prioritize</dd>
                        <dd>Rate</dd>
                        <dd>Value</dd>
                        <dd>Weigh</dd>
                    <dt>Create</dt>
                        <dd>Combine</dd>
                        <dd>Compose</dd>
                        <dd>Construct</dd>
                        <dd>Create</dd>
                        <dd>Design</dd>
                        <dd>Devise</dd>
                        <dd>Forecast</dd>
                        <dd>Formulate</dd>
                        <dd>Hypothesize</dd>
                        <dd>Invent</dd>
                        <dd>Make</dd>
                        <dd>Originate</dd>
                        <dd>Plan</dd>
                        <dd>Produce</dd>
                        <dd>Propose</dd>
                        <dd>Role play</dd>
                </dl>
            </section>

            <section data-target=".section1" >
                <header data-method="toggleContent" onmouseover="liteOn(section1O,'#E6F7FF')" onmouseout="liteOff(section1O)">
                    <input type="button" value="Outcomes">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="outcomesContentSpacingAdd">Add spacing</label>
                    <input type="button" name="outcomesContentSpacingAdd" id="outcomesContentSpacingAdd" value="+">
                    <label for="outcomesContentSpacingRemove">Remove spacing</label>
                    <input type="button" name="outcomesContentSpacingRemove" id="outcomesContentSpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-target=".outcomes_list" data-template="#outcomes_list_template li:first" data-element="li" data-min="1" onmouseover="liteOn(headings1O,'#E6F7FF')" onmouseout="liteOff(headings1O)">
                    <legend>text</legend>
                    <label for="outcomesOutcomeAdd">Add outcome</label>
                    <input type="button" name="outcomesOutcomeAdd" id="outcomesOutcomeAdd" value="+">
                    <label for="outcomesOutcomeRemove">Remove outcome</label>
                    <input type="button" name="outcomesOutcomeRemove" id="outcomesOutcomeRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section2" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section2O,'#E6F7FF')" onmouseout="liteOff(section2O)">
                    <input type="button" value="Section 2">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="outcomesSection2SpacingAdd">Add spacing</label>
                    <input type="button" name="outcomesSection2SpacingAdd" id="outcomesSection2SpacingAdd" value="+">
                    <label for="outcomesSection2SpacingRemove">Remove spacing</label>
                    <input type="button" name="outcomesSection2SpacingRemove" id="outcomesSection2SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings2O,'#E6F7FF')" onmouseout="liteOff(headings2O)">
                    <legend>headings</legend>
                    <label for="outcomesAdd">Add activity</label>
                    <input type="button" name="outcomesAdd" id="outcomesAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="outcomesRemove" id="outcomesRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section3" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section3O,'#E6F7FF')" onmouseout="liteOff(section3O)">
                    <input type="button" value="Section 3">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="outcomesSection3SpacingAdd">Add spacing</label>
                    <input type="button" name="outcomesSection3SpacingAdd" id="outcomesSection3SpacingAdd" value="+">
                    <label for="outcomesSection3SpacingRemove">Remove spacing</label>
                    <input type="button" name="outcomesSection3SpacingRemove" id="outcomesSection3SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings3O,'#E6F7FF')" onmouseout="liteOff(headings3O)">
                    <legend>headings</legend>
                    <label for="outcomesAdd">Add activity</label>
                    <input type="button" name="outcomesAdd" id="outcomesAdd" value="+">
                    <label for="outcomesRemove">Remove activity</label>
                    <input type="button" name="outcomesRemove" id="outcomesRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section4" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section4O,'#E6F7FF')" onmouseout="liteOff(section4O)">
                    <input type="button" value="Section 4">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="outcomesSection4SpacingAdd">Add spacing</label>
                    <input type="button" name="outcomesSection4SpacingAdd" id="outcomesSection4SpacingAdd" value="+">
                    <label for="outcomesSection4SpacingRemove">Remove spacing</label>
                    <input type="button" name="outcomesSection4SpacingRemove" id="outcomesSection4SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings4O,'#E6F7FF')" onmouseout="liteOff(headings4O)">
                    <legend>headings</legend>
                    <label for="outcomesAdd">Add activity</label>
                    <input type="button" name="outcomesAdd" id="outcomesAdd" value="+">
                    <label for="outcomesRemove">Remove activity</label>
                    <input type="button" name="outcomesRemove" id="outcomesRemove" value="-">
                </fieldset>
            </section>
        </aside><!-- .outcomes -->



        <aside class="resources" data-target="#resources .content">

            <section data-target=".section1" class="ui-state-active" >
                <header onmouseover="liteOn(section1R,'#FFFDE6')" onmouseout="liteOff(section1R)">
                    Resources
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="resourcesContentSpacingAdd">Add spacing</label>
                    <input type="button" name="resourcesContentSpacingAdd" id="resourcesContentSpacingAdd" value="+">
                    <label for="resourcesContentSpacingRemove">Remove spacing</label>
                    <input type="button" name="resourcesContentSpacingRemove" id="resourcesContentSpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings1R,'#FFFDE6')" onmouseout="liteOff(headings1R)">
                    <legend>headings</legend>
                    <label for="resourceAdd">Add resource</label>
                    <input type="button" name="resourceAdd" id="resourceAdd" value="+">
                    <label for="resourceRemove">Remove resource</label>
                    <input type="button" name="resourceRemove" id="resourceRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section2" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section2R,'#FFFDE6')" onmouseout="liteOff(section2R)">
                    <input type="button" value="Section 2">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="resourceSection2SpacingAdd">Add spacing</label>
                    <input type="button" name="resourceSection2SpacingAdd" id="resourceSection2SpacingAdd" value="+">
                    <label for="resourceSection2SpacingRemove">Remove spacing</label>
                    <input type="button" name="resourceSection2SpacingRemove" id="resourceSection2SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings2R,'#FFFDE6')" onmouseout="liteOff(headings2R)">
                    <legend>headings</legend>
                    <label for="resourceAdd">Add resource</label>
                    <input type="button" name="resourceAdd" id="resourceAdd" value="+">
                    <label for="resourceRemove">Remove resource</label>
                    <input type="button" name="resourceRemove" id="resourceRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section3" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section3R,'#FFFDE6')" onmouseout="liteOff(section3R)">
                    <input type="button" value="Section 3">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="resourceSection3SpacingAdd">Add spacing</label>
                    <input type="button" name="resourceSection3SpacingAdd" id="resourceSection3SpacingAdd" value="+">
                    <label for="resourceSection3SpacingRemove">Remove spacing</label>
                    <input type="button" name="resourceSection3SpacingRemove" id="resourceSection3SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" od="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings3R,'#FFFDE6')" onmouseout="liteOff(headings3R)">
                    <legend>headings</legend>
                    <label for="resourceAdd">Add resource</label>
                    <input type="button" name="resourceAdd" id="resourceAdd" value="+">
                    <label for="resourceRemove">Remove resource</label>
                    <input type="button" name="resourceRemove" id="resourceRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section4" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section4R,'#FFFDE6')" onmouseout="liteOff(section4R)">
                    <input type="button" value="Section 4">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="resourceSection4SpacingAdd">Add spacing</label>
                    <input type="button" name="resourceSection4SpacingAdd" id="resourceSection4SpacingAdd" value="+">
                    <label for="resourceSection4SpacingRemove">Remove spacing</label>
                    <input type="button" name="resourceSection4SpacingRemove" id="resourceSection4SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings4R,'#FFFDE6')" onmouseout="liteOff(headings4R)">
                    <legend>headings</legend>
                    <label for="resourceAdd">Add resource</label>
                    <input type="button" name="resourceAdd" id="resourceAdd" value="+">
                    <label for="resourceRemove">Remove resource</label>
                    <input type="button" name="resourceRemove" id="resourceRemove" value="-">
                </fieldset>
            </section>
        </aside><!-- .resources -->

        <aside class="activities" data-target="#activities .content">

            <section data-target=".section1" class="ui-state-active">
                <header onmouseover="liteOn(section1A,'#F8FFE6')" onmouseout="liteOff(section1A)">
                    Activities
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="activityContentSpacingAdd">Add spacing</label>
                    <input type="button" name="activityContentSpacingAdd" id="activityContentSpacingAdd" value="+">
                    <label for="activityContentSpacingRemove">Remove spacing</label>
                    <input type="button" name="activityContentSpacingRemove" id="activityContentSpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings1A,'#F8FFE6')" onmouseout="liteOff(headings1A)">
                    <legend>headings</legend>
                    <label for="activityAdd">Add activity</label>
                    <input type="button" name="activityAdd" id="activityAdd" value="+">
                    <label for="activityRemove">Remove activity</label>
                    <input type="button" name="activityRemove" id="activityRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section2" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section2A,'#F8FFE6')" onmouseout="liteOff(section2A)">
                    <input type="button" value="Section 2">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="activitySection2SpacingAdd">Add spacing</label>
                    <input type="button" name="activitySection2SpacingAdd" id="activitySection2SpacingAdd" value="+">
                    <label for="activitySection2SpacingRemove">Remove spacing</label>
                    <input type="button" name="activitySection2SpacingRemove" id="activitySection2SpacingRemove" value="-">
                </fieldset>
                  <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings2A,'#F8FFE6')" onmouseout="liteOff(headings2A)">
                    <legend>headings</legend>
                    <label for="activityAdd">Add activity</label>
                    <input type="button" name="activityAdd" id="activityAdd" value="+">
                    <label for="activityRemove">Remove activity</label>
                    <input type="button" name="activityRemove" id="activityRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section3" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section3A,'#F8FFE6')" onmouseout="liteOff(section3A)">
                    <input type="button" value="Section 3">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="activitySection3SpacingAdd">Add spacing</label>
                    <input type="button" name="activitySection3SpacingAdd" id="activitySection3SpacingAdd" value="+">
                    <label for="activitySection3SpacingRemove">Remove spacing</label>
                    <input type="button" name="activitySection3SpacingRemove" id="activitySection3SpacingRemove" value="-">
                </fieldset>
                  <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings3A,'#F8FFE6')" onmouseout="liteOff(headings3A)">
                    <legend>headings</legend>
                    <label for="activityAdd">Add activity</label>
                    <input type="button" name="activityAdd" id="activityAdd" value="+">
                    <label for="activityRemove">Remove activity</label>
                    <input type="button" name="activityRemove" id="activityRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section4" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section4A,'#F8FFE6')" onmouseout="liteOff(section4A)">
                    <input type="button" value="Section 4">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="activitySection4SpacingAdd">Add spacing</label>
                    <input type="button" name="activitySection4SpacingAdd" id="activitySection4SpacingAdd" value="+">
                    <label for="activitySection4SpacingRemove">Remove spacing</label>
                    <input type="button" name="activitySection4SpacingRemove" id="activitySection4SpacingRemove" value="-">
                </fieldset>
                  <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings4A,'#F8FFE6')" onmouseout="liteOff(headings4A)">
                    <legend>headings</legend>
                    <label for="activityAdd">Add activity</label>
                    <input type="button" name="activityAdd" id="activityAdd" value="+">
                    <label for="activityRemove">Remove activity</label>
                    <input type="button" name="activityRemove" id="activityRemove" value="-">
                </fieldset>
            </section>
        </aside><!-- .activities -->

        <aside class="policies" data-target="#policies .content">
            <section data-target=".section1" class="ui-state-active" >
                <header onmouseover="liteOn(section1P,'#EBEBFF')" onmouseout="liteOff(section1P)">
                    Policies
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="policiesContentSpacingAdd">Add spacing</label>
                    <input type="button" name="policiesContentSpacingAdd" id="policiesContentSpacingRemove" value="+">
                    <label for="policiesContentSpacingRemove">Remove spacing</label>
                    <input type="button" name="policiesContentSpacingRemove" id="policiesContentSpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings1P,'#EBEBFF')" onmouseout="liteOff(headings1P)">
                    <legend>headings</legend>
                    <label for="policyAdd">Add activity</label>
                    <input type="button" name="policyAdd" id="policyAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="policyRemove" id="policyRemove" value="-">
                </fieldset>
            </section>

           <section data-target=".section2" class="ui-state-default" >
                <header data-method="toggleContent" onmouseover="liteOn(section2P,'#EBEBFF')" onmouseout="liteOff(section2P)">
                    <input type="button" value="Section 2">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="policySection2SpacingAdd">Add spacing</label>
                    <input type="button" name="policySection2SpacingAdd" id="policySection2SpacingAdd" value="+">
                    <label for="policySection2SpacingRemove">Remove spacing</label>
                    <input type="button" name="policySection2SpacingRemove" id="policySection2SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings2P,'#EBEBFF')" onmouseout="liteOff(headings2P)">
                    <legend>headings</legend>
                    <label for="policyAdd">Add activity</label>
                    <input type="button" name="policyAdd" id="policyAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="policyRemove" id="policyRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section3" class="ui-state-default">
                <header data-method="toggleContent" onmouseover="liteOn(section3P,'#EBEBFF')" onmouseout="liteOff(section3P)">
                    <input type="button" value="Section 3">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="policySection3SpacingAdd">Add spacing</label>
                    <input type="button" name="policySection3SpacingAdd" id="policySection3SpacingAdd" value="+">
                    <label for="policySection3SpacingRemove">Remove spacing</label>
                    <input type="button" name="policySection3SpacingRemove" id="policySection3SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings3P,'#EBEBFF')" onmouseout="liteOff(headings3P)">
                    <legend>headings</legend>
                    <label for="policyAdd">Add activity</label>
                    <input type="button" name="policyAdd" id="policyAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="policyRemove" id="policyRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section4" class="ui-state-default">
                <header data-method="toggleContent" onmouseover="liteOn(section4P,'#EBEBFF')" onmouseout="liteOff(section4P)">
                    <input type="button" value="Section 4">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="policySection4SpacingAdd">Add spacing</label>
                    <input type="button" name="policySection4SpacingAdd" id="policySection4SpacingAdd" value="+">
                    <label for="policySection4SpacingRemove">Remove spacing</label>
                    <input type="button" name="policySection4SpacingRemove" id="policySection4SpacingRemove" value="-">
                </fieldset>
                <fieldset data-method="toggleContent" data-template=".description" data-element=".description" data-max="20" data-min="0" data-target=".details" onmouseover="liteOn(headings4P,'#EBEBFF')" onmouseout="liteOff(headings4P)">
                    <legend>headings</legend>
                    <label for="policyAdd">Add activity</label>
                    <input type="button" name="policyAdd" id="policyAdd" value="+">
                    <label for="policyRemove">Remove activity</label>
                    <input type="button" name="policyRemove" id="policyRemove" value="-">
                </fieldset>
            </section>

            <section data-target=".section5" class="ui-state-active">
                <header data-method="toggleContent" onmouseover="liteOn(section5P,'#EBEBFF')" onmouseout="liteOff(section5P)">
                    <input type="button" value="Page Break">
                </header>
                <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                    <legend>spacing</legend>
                    <label for="policySection5SpacingAdd">Add spacing</label>
                    <input type="button" name="policySection5SpacingAdd" id="policySection5SpacingAdd" value="+">
                    <label for="policySection5SpacingRemove">Remove spacing</label>
                    <input type="button" name="policySection5SpacingRemove" id="policySection5SpacingRemove" value="-">
                </fieldset>
            </section>
        </aside><!-- .policies -->

        <aside class="schedule" data-target="#schedule .content">

        <section data-target=".section1" class="ui-state-active" onmouseover="liteOn(section1S,'#f8ffea')" onmouseout="liteOff(section1S)">
            <header data-method="toggleContent">
                <input type="button" value="Page Break">
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                <legend>
                    spacing
                </legend>
                <label for="policySection3SpacingAdd">Add spacing</label>
                <input type="button" name="scheduleSection1SpacingAdd" id="scheduleSection1SpacingAdd" value="+">
                <label for="scheduleSection3SpacingRemove">Remove spacing</label>
                <input type="button" name="scheduleSection1SpacingRemove" id="scheduleSection1SpacingRemove" value="-">
            </fieldset>

        </section>

        <section data-target="#section2S" onmouseover="liteOn(section2S,'#f8ffea')" onmouseout="liteOff(section2S)">
            <header>
                Table 1
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                <legend>
                    spacing
                </legend>
                <label for="scheduleContentSpacingAdd">Add spacing</label>
                <input type="button" name="scheduleContentSpacingAdd" id="scheduleContentSpacingAdd" value="+">
                <label for="scheduleContentSpacingRemove">Remove spacing</label>
                <input type="button" name="scheduleContentSpacingRemovescheduleContentSpacingRemove" id="scheduleContentSpacingRemove" value="-">
            </fieldset>
            <fieldset data-method="toggleContent" data-template="#table1_row_template tr:last" data-element="tbody tr" data-max="20" data-min="1" data-target="#table1" data-callback="reapplyTableDnD">
                <legend>
                    items
                </legend>
                <label for="scheduleAdd">Add item</label>
                <input type="button" name="scheduleAdd" id="scheduleAdd" value="+">
                <label for="scheduleRemove">Remove item</label>
                <input type="button" name="scheduleRemove" id="scheduleRemove" value="-">
            </fieldset>
        </section>

        <section data-target="#section3S" class="ui-state-default" onmouseover="liteOn(section3S,'#f8ffea')" onmouseout="liteOff(section3S)">
            <header data-method="toggleContent">
                <input type="button" value="Table 2">
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                <legend>
                    spacing
                </legend>
                <label for="scheduleContentSpacingAdd">Add spacing</label>
                <input type="button" name="scheduleContentSpacingAdd" id="scheduleContentSpacingAdd" value="+">
                <label for="scheduleContentSpacingRemove">Remove spacing</label>
                <input type="button" name="scheduleContentSpacingRemovescheduleContentSpacingRemove" id="scheduleContentSpacingRemove" value="-">
            </fieldset>
            <fieldset data-method="toggleContent" data-template="#table2_row_template tr:last" data-element="tbody tr" data-max="20" data-min="1" data-target="#table2" data-callback="reapplyTableDnD">
                <legend>
                    items
                </legend>
                <label for="scheduleAdd">Add item</label>
                <input type="button" name="scheduleAdd" id="scheduleAdd" value="+">
                <label for="scheduleRemove">Remove item</label>
                <input type="button" name="scheduleRemove" id="scheduleRemove" value="-">
            </fieldset>
        </section>

        <section data-target="#section4S" class="ui-state-default" onmouseover="liteOn(section4S,'#f8ffea')" onmouseout="liteOff(section4S)">
            <header data-method="toggleContent">
                <input type="button" value="Table 3">
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                <legend>
                    spacing
                </legend>
                <label for="scheduleContentSpacingAdd">Add spacing</label>
                <input type="button" name="scheduleContentSpacingAdd" id="scheduleContentSpacingAdd" value="+">
                <label for="scheduleContentSpacingRemove">Remove spacing</label>
                <input type="button" name="scheduleContentSpacingRemovescheduleContentSpacingRemove" id="scheduleContentSpacingRemove" value="-">
            </fieldset>
            <fieldset data-method="toggleContent" data-template="#table3_row_template tr:last" data-element="tbody tr" data-max="20" data-min="1" data-target="#table3" data-callback="reapplyTableDnD">
                <legend>
                    items
                </legend>
                <label for="scheduleAdd">Add item</label>
                <input type="button" name="scheduleAdd" id="scheduleAdd" value="+">
                <label for="scheduleRemove">Remove item</label>
                <input type="button" name="scheduleRemove" id="scheduleRemove" value="-">
            </fieldset>
        </section>
    </aside> <!-- .schedule -->

    <aside class="grades" data-target="#grades .content">
       <section data-target="#section1G" >
        <header onmouseover="liteOn(section1G,'#F9FFEB')" onmouseout="liteOff(section1G)">
        Grades
        </header>
        <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
            <legend>spacing</legend>
            <label for="gradesContentSpacingAdd">Add spacing</label>
            <input type="button" name="gradesContentSpacingAdd" id="gradesContentSpacingRemove" value="+">
            <label for="gradesContentSpacingRemove">Remove spacing</label>
            <input type="button" name="gradesContentSpacingRemove" id="gradesContentSpacingRemove" value="-">
        </fieldset>
            <fieldset data-method="toggleContent" data-template="#grade_component_row_template tr:last" data-element="tbody tr" data-max="20" data-min="2" data-target="#grade_components" data-callback="updateGradeScale" onmouseover="liteOn('#grade_components tbody','#F9FFEB')" onmouseout="liteOff('#grade_components tbody')">
            <legend>items</legend>
            <label for="gradesAdd">Add item</label>
            <input type="button" name="gradesAdd" id="gradesAdd" value="+">
            <label for="gradesRemove">Remove item</label>
            <input type="button" name="gradesRemove" id="gradesRemove" value="-">
        </fieldset>
        </section>

        <section data-target=".section2" class="ui-state-default" >
            <header data-method="toggleContent" onmouseover="liteOn(section2G,'#F9FFEB')" onmouseout="liteOff(section2G)">
                <input type="button" value="Extra Credit">
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                <legend>spacing</legend>
                <label for="gradesSection2SpacingAdd">Add spacing</label>
                <input type="button" name="gradesSection2SpacingAdd" id="gradesSection2SpacingAdd" value="+">
                <label for="gradesSection2SpacingRemove">Remove spacing</label>
                <input type="button" name="gradesSection2SpacingRemove" id="gradesSection2SpacingRemove" value="-">
            </fieldset>
            <fieldset data-method="toggleContent" data-template="#extra_credit_row_template tr:last" data-element="tbody tr" data-max="20" data-min="1" data-target="#extra_credit" data-callback="updateTableSum" onmouseover="liteOn('#extra_credit tbody','#F9FFEB')" onmouseout="liteOff('#extra_credit tbody')">
                <legend>items</legend>
                <label for="extraCreditAdd">Add item</label>
                <input type="button" name="extraCreditAdd" id="extraCreditAdd" value="+">
                <label for="extraCreditRemove">Remove item</label>
                <input type="button" name="extraCreditRemove" id="extraCreditRemove" value="-">
            </fieldset>
        </section>

        <section data-target=".section3" >
            <header onmouseover="liteOn(section3G,'#F9FFEB')" onmouseout="liteOff(section3G)">
                Scale
            </header>
            <fieldset data-method="scaleCss" data-property="padding-top" data-max="12" data-min="0" data-step="12px">
                <legend>spacing</legend>
                <label for="gradesSection3SpacingAdd">Add spacing</label>
                <input type="button" name="gradesSection3SpacingAdd" id="gradesSection3SpacingAdd" value="+">
                <label for="gradesSection3SpacingRemove">Remove spacing</label>
                <input type="button" name="gradesSection3SpacingRemove" id="gradesSection3SpacingRemove" value="-">
            </fieldset>
        </section>
    </aside>
 
    </form>

<!-- Used by right-hand tool pallette to create new fields and rows -->
    <div id="templates">

    <!-- h3 template -->         
        <div class="description">
            <h3 class="editable" data-can-delete="true">Heading</h3>
            <div class="editableHtml">
                Text
            </div>
        </div>

    <!-- contact template --> 
        <div class="contact" id="contact_template">
                <h3 class="editable" data-can-delete="true">Contact Title</h3>
                <div class="editableHtml">
                    <ul class="none">
                        <li>name</li>
                        <li>email</li>
                        <li>phone</li>
                        <li>other1</li>
                        <li>other2</li>
                    </ul>
                </div> 
        </div>

    <!-- Outcomes template -->        
        <ul id="outcomes_list_template" class="outcomes_list">
            <li>Outcome text here</li>
        </ul>

    <!-- generic table templates -->
       <!-- 3-column table template -->

        <table id="3_column_template">
        <tr>
            <td header="col-left" class="col-left editable left">Text</td>
            <td header="col-middle" class="col-middle editable left">Text</td>
            <td header="col-right" class="col-right editable left">Text</td>
        </tr>

        <!-- 2-column table template -->
        <table id="2_column_template">
        <tr>
            <td header="col-left" class="col-left editable left">Text</td>
            <td header="col-right" class="col-right editable left">Text</td>
        </tr>
        </table>

    <!-- Schedule table templates -->
        <!-- table1 template -->
        <table id="table1_row_template">
        <tr>
            <td header="col2s-left" class="col-left15 editable center">#</td>
            <td header="col2s-middle" class="col-middle35 editable left">Text</td>
            <td header="col2s-right" class="col-right50 editable left">Text</td>
        </tr>
        </table>

        <!-- table2 template -->
        <table id="table2_row_template">
        <tr>
            <td header="col3s-left" class="col-left15 editable center">#</td>
            <td header="col3s-middle" class="col-middle35 editable left">Text</td>
            <td header="col3s-right" class="col-right50 editable left">Text</td>
        </tr>
        </table>

        <!-- table3 template -->
        <table id="table3_row_template">
        <tr>
            <td header="col4s-left" class="col-left15 editable center">#</td>
            <td header="col4s-middle" class="col-middle35 editable left">Text</td>
            <td header="col4s-right" class="col-right50 editable left">Text</td>
        </tr>
        </table>

    <!-- Grades table templates -->
        <!-- Grade item template -->
        <table id="grade_component_row_template">
            <tr><td class="editable">Item</td><td class="editable right">-</td></tr>
        </table>

        <!-- Extra Credit item template -->
        <table id="extra_credit_row_template">
            <tr><td class="editable">Item</td><td class="editable right">-</td></tr>
        </table>

    </div> <!-- #templates -->


