{{user_name}} {{user.email}} has tried to login but has not been assigned to a organization.
if {{user_name}} should have access to an org go to arvhived users and activate the account
otherwise ignore this email and the user will not get access to any organizations
<a href="{{archived_users_url}}">Archived Users</a>
