<!-- spacer for preview modal -->
<div id="spacer">&nbsp;</div>
<!-- each tab is represented by a section with an ID that identifies it -->
<section id="information">
    <!-- content class is the initial content for the tab -->
    <div class="content">
        <header id="title1I">
            <hgroup>
                <h1>
                    <div class="editable">Course Title</div>
                    <div class="editable">Course Number | Term/Year</div>
                </h1>
            </hgroup>
        </header>
        <div id="section1I" class="section1">
            <h2 class="editable">Contact Information</h2>

            <div id="contacts1I" class="contacts">
                <div class="contact">
                    <h3 class="editable" data-can-delete="true">Contact Title</h3>
                    <div class="editableHtml">
                        <ul class="none">
                            <li>name</li>
                            <li>email</li>
                            <li>phone</li>
                            <li>other1</li>
                            <li>other2</li>
                        </ul>
                        
                    </div>
                </div>

             </div>
        </div><!-- .section1 -->

       <div id="section2I" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2I" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3I" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3I" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                   
        </div><!-- .section3--> 

        <div id="section4I" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4I" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                   
        </div><!-- .section4--> 

    </div><!-- .content -->

</section><!-- #information -->

<section id="outcomes" class="hide">
    <div class="content">
        <div id="section1O" class="section1">
            <h2 class="editable">Learning Outcomes</h2>
            <div class="editable" data-can-delete="true">Upon completion of this course you will be able to:</div>
                <!-- bullets should be visible in this list -->
                <div id="headings1O" class="headings">
                    <div class="editableHtml">
                        <ul class="outcomes_list">
                            <li>Outcome text here</li>
                        </ul>
                    </div>
                </div>    
        </div><!-- .section1 -->
       
       <div id="section2O" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2O" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3O" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3O" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4O" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4O" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 

    </div><!-- .content -->

</section><!-- #outcomes -->


<section id="resources" class="hide">
    <div class="content">
        <div id="section1R" class="section1">
            <h2 class="editable">Learning Resources</h2>
            <div id="headings1R" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>    
        </div><!-- .section1 -->
       
       <div id="section2R" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2R" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3R" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3R" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4R" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4R" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 

    </div><!-- .content -->

</section><!-- #resources -->

<section id="activities" class="hide">
    <div class="content">

        <div id="section1A" class="section1">
            <h2 class="editable">Learning Activities</h2>
            <div id="headings1A" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>    
        </div><!-- .section1 -->
       
       <div id="section2A" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2A" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3A" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3A" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4A" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4A" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4--> 

    </div><!-- .content -->

</section><!-- #activities -->

<section id="policies" class="hide">
    <div class="content">

        <div id="section1P" class="section1">
            <h2 class="editable">Policies</h2>
            <div id="headings1P" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>    
        </div><!-- .section1 -->
       
       <div id="section2P" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div id="headings2P" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section2--> 

        <div id="section3P" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div id="headings3P" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section3--> 

       <div id="section4P" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div id="headings4P" class="headings">
                <div class="details">
                    <div class="description">
                        <h3 class="editable" data-can-delete="true">Heading</h3>
                        <div class="editableHtml">
                            Text
                        </div>
                    </div>                                                                                             
                </div>
            </div>                                                                                                    
        </div><!-- .section4-->

        <div id="section5P" class="section5">
            <div id="page_break" class="editableHtml">
                <div align="center">
                    ----Please see next page for Grades information----
                </div>
            </div>
        </div><!-- .section5-->  
      
    </div><!-- .content -->
</section><!-- #policies -->

<section id="grades" class="hide">
    <div class="content">
        <div id="section1G" class="section1">
           <h2 class="editable">Grades</h2> 
           <div class="editableHtml">
                    <p>Your grade will be based on the following:</p>
           </div>
            <div class="details">
                <div class="description">
                    <div>
                        <table id="grade_components" class="components" border="1">
                            <thead>
                                <tr><th class="editable">Items</th><th>Points</th></tr>
                            </thead>
                            <tfoot>
                                <tr class="total nodrag"><td>Total Points</td><td class="right">-</td></tr>
                            </tfoot>
                            <tbody>
                                    <tr id="1.1"><td class="editable">Item</td><td class="editable right">-</td></tr>
                                    <tr id="1.2"><td class="editable">Item</td><td class="editable right">-</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->
        
        <div id="section2G" class="section2 hide">
            <div class="editableHtml">
                <p>You will have the opportunity to earn Extra Credit:</p>
            </div>
            <div class="details">
                <div class="description">
                    <div>
                        <table id="extra_credit" class="components" border="1">
                            <thead>
                                <tr><th class="editable">Items</th><th>Points</th></tr>
                            </thead>
                            <tfoot>
                                <tr class="total nodrag"><td>Total Extra Credit Points</td><td class="right">-</td></tr>
                            </tfoot>
                            <tbody>
                                <tr id="2.1"><td class="editable">Item</td><td class="editable right">-</td></tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>                                                                                         
        </div><!-- .section2 -->
        <div id="section3G" class="section3">
            <div class="editableHtml">
                <p>Your grade will be calculated with this scale:</p>
            </div>
            <div class="details">
                <div class="description">
                    <div>
                        <table id="grade_scale" class="components inactive" border="1">
                                <thead>
                                    <tr><th>Grade</th><th>Percentage</th><th>Points</th></tr>
                                </thead>
                                <tbody class="center">
                                    <tr>
                                        <td>A</td>
                                        <td>
                                            <span class="editable minRange">93</span>
                                            -
                                            <span class="maxRange">100</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr class="even">
                                        <td>A-</td>
                                        <td>
                                            <span class="editable minRange">90</span>
                                            -
                                            <span class="maxRange">92</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr>
                                        <td>B+</td>
                                        <td>
                                            <span class="editable minRange">87</span>
                                            -
                                            <span class="maxRange">89</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr class="even">
                                        <td>B</td>
                                        <td>
                                            <span class="editable minRange">83</span>
                                            -
                                            <span class="maxRange">86</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr>
                                        <td>B-</td>
                                        <td>
                                            <span class="editable minRange">80</span>
                                            -
                                            <span class="maxRange">82</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr class="even">
                                        <td>C+</td>
                                        <td>
                                            <span class="editable minRange">77</span>
                                            -
                                            <span class="maxRange">79</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr>
                                        <td>C</td>
                                        <td>
                                            <span class="editable minRange">73</span>
                                            -
                                            <span class="maxRange">76</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr class="even">
                                        <td>C-</td>
                                        <td>
                                            <span class="editable minRange">70</span>
                                            -
                                            <span class="maxRange">72</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr>
                                        <td>D+</td>
                                        <td>
                                            <span class="editable minRange">67</span>
                                            -
                                            <span class="maxRange">69</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr class="even">
                                        <td>D</td>
                                        <td>
                                            <span class="editable minRange">60</span>
                                            -
                                            <span class="maxRange">66</span>
                                        </td>
                                        <td>-</td>
                                    </tr>

                                    <tr>
                                        <td>F</td>
                                        <td>
                                            <span class="minRange">0</span>
                                            -
                                            <span class="maxRange">59</span>
                                        </td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- .section3 -->
    </div><!-- .content -->
    
</section><!-- #grades -->
