  <div class="text-center bg-white">
    <h1>This account is inactive or Unassigned.</h1>
    <p>If you would like to request access click the link below.</p>
    <a href="/admin/request_access">Request Accesss</a>
  </div>
