<!-- each tab is represented by a section with an ID that identifies it -->
<section id="information">
    <!-- content class is the initial content for the tab -->
    <div class="content">
        <header id="title1I">
            <hgroup>
                <h1>Course Title</h1>
                <h1>Course Number | Term/Year</h1>
            </hgroup>
        </header>
        <div id="section1I" class="section1">
            <h2 class="editable">Contact Information</h2>

            <div class="contacts">
                <div class="contact">
                    <h3 class="editable">Contact Title 1</h3>
                    <div class="editableHtml">
                        <ul class="none">
                            <li>name</li>
                            <li>email</li>
                            <li>phone</li>
                            <li>other1</li>
                            <li>other2</li>
                        </ul>
                    </div>
                </div>

             </div>
        </div><!-- .section1 -->

       <div id="section2I" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable" data-can-delete="true">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2--> 

        <div id="section3I" class="section3">
            <h2 class="editable">Course Description</h2>
            <div class="editableHtml">
                Course Description text
            </div>
        </div><!-- .section3 -->

        <div id="section4I" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section4-->  

        <div id="section5I" class="section5 hide">
            <h2 class="editable">Section 5</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section5--> 

    </div><!-- .content -->

</section><!-- #information -->

<section id="outcomes" class="hide">
    <div class="content">
        <div id="section1O" class="section1">
            <h2 class="editable">Learning Outcomes</h2>
            <div class="editableHtml">
                Upon completion of this course you will be able to:
            </div>
            <!-- bullets should be visible in this list -->
            <div class="editableHtml">
                <ul class="outcomes_list">
                    <li>Outcome text here</li>
                </ul>
            </div>
        </div><!-- .section1 -->

        <div id="section2O" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->  
    </div><!-- .content -->

</section><!-- #outcomes -->


<section id="resources" class="hide">
    <div class="content">
        <div id="section1R" class="section1">
            <h2 class="editable">Learning Resources</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Canvas</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Technical Support</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Software</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Textbook & Reading Materials</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Videos</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->

        <div id="section2R" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->  
    </div><!-- .content -->

</section><!-- #resources -->

<section id="activities" class="hide">
    <div class="content">
        <div id="section1A" class="section1">
            <h2 class="editable">Learning Activities</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Readings</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Videos</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Discussions</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Assignments</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Quizzes</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Exams</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->

        <div id="section2A" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->  
    </div><!-- .content -->

</section><!-- #activities -->

<section id="policies" class="hide">
    <div class="content">
        <div id="section1P" class="section1">
            <h2 class="editable">Course Policies</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Instructor Feedback/Communication</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Student Feedback/Communication</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Syllabus Changes</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Submitting Electronic Files</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Course Fees</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Late Work</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->

        <div id="section2P" class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->                   

       <div id="section3P" class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section3-->  

        <div id="section4P" class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section4-->

        <div id="section5P" class="section5">
           
                    <div id="page_break" class="editableHtml">
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----Please see next page for Grades information----
                    </div>
                                                                                                        
        </div><!-- .section5-->  
      
    </div><!-- .content -->


</section><!-- #policies -->

<section id="grades" class="hide">
    <div class="content">
        <div id="section1G" class="section1">
           <h2 class="editable">Grades</h2> 
           <div class="editableHtml">
                    <p>Your grade will be based on the following:</p>
           </div>
            <div class="details">
                <div class="description">
                    <div>
                        <table id="grade_components" class="components" border="1">
                            <thead>
                                <tr><th class="editable">Items</th><th>Points</th></tr>
                            </thead>
                            <tfoot>
                            <tr>&nbsp;</tr>
                            </tfoot>
                            <tbody>
                                    <tr id="1.1"><td class="editable">Item</td><td class="editable right">0</td></tr>
                                    <tr id="1.2"><td class="editable">Item</td><td class="editable right">0</td></tr>
                                    <tr class="total nodrag"><td>Total Points</td><td class="right">0</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->
        
        <div id="section2G" class="section2 hide">
            <div class="editableHtml">
                <p>&nbsp;</p>
                <p>You will have the opportunity to earn Extra Credit:</p>
            </div>
            <div class="details">
                <div class="description">
                    <div>
                        <table id="extra_credit" class="components" border="1">
                            <thead>
                                <tr><th class="editable">Items</th><th>Points</th></tr>
                            </thead>
                             <tfoot>
                            <tr>&nbsp;</tr>
                            </tfoot>
                            <tbody>
                                <tr id="2.1"><td class="editable">Item</td><td class="editable right">0</td></tr>
                                <tr class="total nodrag"><td>Total Extra Credit Points</td><td class="right">0</td></tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>                                                                                         
        </div><!-- .section2 -->
        <div id="section3G" class="section3">
            <div class="editableHtml">
                <p>&nbsp;</p>
                <p>Your grade will be calculated with this scale:</p>
            </div>
            <div class="details">
                <div class="description">
                    <div>
                        <table id="grade_scale" class="components" border="1">
                                <thead>
                                    <tr><th>Grade</th><th>Percentage</th><th>Points</th></tr>
                                </thead>
                                <tfoot>
                                    <tr>&nbsp;</tr>
                                </tfoot>
                                  <tbody class="center">
                                    <tr><td>A</td><td><span class="editable">93</span>- 100</td><td>0 - 0</td></tr>
                                    <tr class="even"><td>A-</td><td><span class="editable">90</span>-<span class="editable">92</span></td><td>0 - 0</td></tr>
                                    <tr><td>B+</td><td><span class="editable">87</span>-<span class="editable">89</span></td><td>0 - 0</td></tr>
                                    <tr class="even"><td>B</td><td><span class="editable">83</span>-<span class="editable">86</td><td>0 - 0</td></tr>
                                    <tr><td>B-</td><td><span class="editable">80</span>-<span class="editable">82</span></td><td>0 - 0</td></tr>
                                    <tr class="even"><td>C+</td><td><span class="editable">77</span>-<span class="editable">79</span></td><td>0 - 0</td></tr>
                                    <tr><td>C</td><td><span class="editable">73</span>-<span class="editable">76</span></td><td>0 - 0</td></tr>
                                    <tr class="even"><td>C-</td><td><span class="editable">70</span>-<span class="editable">72</span></td><td>0 - 0</td></tr>
                                    <tr><td>D+</td><td><span class="editable">67</span>-<span class="editable">69</span></td><td>0 - 0</td></tr>
                                    <tr class="even"><td>D</td><td><span class="editable">60</span>-<span class="editable">66</span></td><td>0 - 0</td></tr>
                                    <tr><td>F</td><td>below -<span class="editable">59</span></td><td>0 - 0</td></tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- .section3 -->
    </div><!-- .content -->

</section><!-- #grades -->
