<!-- each tab is represented by a section with an ID that identifies it -->
<section id="information">
    <!-- content class is the initial content for the tab -->
    <div class="content">
        <!-- Toolbar for the Information view-->
        <div class="content_toolbar">
            <p>
                <a href="#example"><i class="foundicon-star" title="Information example"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/help.html#information" target="_blank"><i class="foundicon-heart" title="Information help"></i></a><br /><br />
            </p>
        </div>
        <header>
            <hgroup>
                <h1>Course Title</h1>
                <h1>Course Number | Term/Year</h1>
            </hgroup>
        </header>
        <div class="section1">
            <h2 class="editable">Contact Information</h2>

            <div class="contacts">
                <div class="contact">
                    <h3 class="editable">Contact Title 1</h3>
                    <div class="editableHtml">
                        <ul class="none">
                            <li>name</li>
                            <li>email</li>
                            <li>phone</li>
                            <li>other1</li>
                            <li>other2</li>
                        </ul>
                    </div>
                </div>

                <div class="contact hide">
                    <h3 class="editable">Contact Title 2</h3>
                    <div class="editableHtml">
                        <ul class="none">
                            <li>name</li>
                            <li>email</li>
                            <li>phone</li>
                            <li>other1</li>
                            <li>other2</li>
                        </ul>
                    </div>
                </div>

                <div class="contact hide">
                     <h3 class="editable">Contact Title 3</h3>
                     <div class="editableHtml">
                         <ul class="none">
                             <li>name</li>
                             <li>email</li>
                             <li>phone</li>
                             <li>other1</li>
                             <li>other2</li>
                         </ul>
                     </div>
                 </div>

                <div class="contact hide">
                     <h3 class="editable">Contact Title 4</h3>
                     <div class="editableHtml">
                         <ul class="none">
                             <li>name</li>
                             <li>email</li>
                             <li>phone</li>
                             <li>other1</li>
                             <li>other2</li>
                         </ul>
                     </div>
                 </div>
             </div>
        </div><!-- .section1 -->

       <div class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2--> 

        <div class="section3">
            <h2 class="editable">Course Description</h2>
            <div class="editableHtml">
                Course Description text
            </div>
        </div><!-- .section3 -->

        <div class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section4-->  

        <div class="section5 hide">
            <h2 class="editable">Section 5</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section5--> 

    </div><!-- .content -->

</section><!-- #information -->

<section id="objectives">
    <div class="content">
        <!-- Toolbar for the Outcomes view-->
        <div class="content_toolbar">
            <p>
                <a href="index.html"><i class="foundicon-star" title="Outcomes example"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/help.html#outcomes" target="_blank"><i class="foundicon-heart" title="Outcomes help"></i></a>
            </p>
        </div>
        <div class="section1">
            <h2 class="editable">Learning Outcomes</h2>
            <div class="editableHtml">
                Upon completion of this course you will be able to:
            </div>
            <!-- bullets should be visible in this list -->
            <div class="editableHtml">
                <ul class="objectives">
                    <li>Outcome text here</li>
                </ul>
            </div>
        </div><!-- .section1 -->

        <div class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->  
    </div><!-- .content -->

</section><!-- #objectives -->


<section id="resources">
    <div class="content">
        <!-- Toolbar for the Resources view-->
        <div class="content_toolbar">
            <p>
                <a href="index.html"><i class="foundicon-star" title="Resources example"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/help.html#resources" target="_blank"><i class="foundicon-heart" title="Resources help"></i></a>
            </p>
        </div>
        <div class="section1">
            <h2 class="editable">Learning Resources</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Canvas</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Technical Support</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Software</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Textbook & Reading Materials</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Videos</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->

        <div class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->  
    </div><!-- .content -->

</section><!-- #resources -->

<section id="activities">
    <div class="content">
        <!-- Toolbar for the Activities view-->
        <div class="content_toolbar">
            <p>
                <a href="index.html"><i class="foundicon-star" title="Activities example"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/help.html#activities" target="_blank"><i class="foundicon-heart" title="Activities help"></i></a>
            </p>
        </div>
        <div class="section1">
            <h2 class="editable">Learning Activities</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Readings</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Videos</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Discussions</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Assignments</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Quizzes</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Exams</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->

        <div class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->  
    </div><!-- .content -->

</section><!-- #activities -->

<section id="policies">
    <div class="content">
        <!-- Toolbar for the Policies view-->
        <div class="content_toolbar">
            <p>
                <a href="index.html"><i class="foundicon-star" title="Policies example"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/help.html#policies" target="_blank"><i class="foundicon-heart" title="Policies help"></i></a>
            </p>
        </div>
        <div class="section1">
            <h2 class="editable">Course Policies</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Instructor Feedback/Communication</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Student Feedback/Communication</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Syllabus Changes</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Submitting Electronic Files</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Course Fees</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
                <div class="description">
                    <h3 class="editable">Late Work</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>
            </div>
        </div><!-- .section1 -->

        <div class="section2 hide">
            <h2 class="editable">Section 2</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section2-->                   

       <div class="section3 hide">
            <h2 class="editable">Section 3</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section3-->  

        <div class="section4 hide">
            <h2 class="editable">Section 4</h2>
            <div class="details">
                <div class="description">
                    <h3 class="editable">Heading</h3>
                    <div class="editableHtml">
                        Text
                    </div>
                </div>                                                                                             
            </div>                                                                                                
        </div><!-- .section4-->  
    </div><!-- .content -->

</section><!-- #policies -->

<section id="grades">
    <div class="content">
        <!-- Toolbar for the Grades view-->
        <div class="content_toolbar">
            <p>
                <a href="index.html"><i class="foundicon-star" title="Grades example"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/help.html#grades" target="_blank"><i class="foundicon-heart" title="Grades help"></i></a>
            </p>
        </div>
        <div class="section1">
            <h2 class="editable">Grades</h2>
            <div class="editableHtml">
                <p>&nbsp;</p>
                <p>Your grade will be based on the following:</p>
            </div>
            <!-- Components table. By default, three component rows are shown with values of "Component" & "Points". Users can delete all but ONE ROW, and may add a maximum of 15. When a row is deleted, the points are subtracted from the TOTAL POINTS, and the values of the row are reset to "Component" & "0".-->
            <div>
                <table id="table1" class="components" border="1">
                    <thead>
                        <tr><th class="editable">Components</th><th>Points</th></tr>
                    </thead>
                    <tfoot>
                    <tr>&nbsp;</tr>
                    </tfoot>
                    <tfoot>
                        
                    </tfoot>
                    <tbody>
                            <tr id="1.1"><td class="editable">Component 1</td><td class="editable right">0</td></tr>
                            <tr id="2.1"><td class="editable">Component 2</td><td><td class="editable right">0</td></tr>
                            <!-- Code Component Add/Remove buttons in .section1 of Grades control panel-->
                            <tr class="total nodrag"><td>Total Points</td><td><td class="right">#</td></td></tr>
                    </tbody>
                </table>
            </div>
        </div><!-- .section1 -->
        
        <div class="section2 hide">
            <div class="editableHtml">
                <p>&nbsp;</p>
                <p>You will have the opportunity to earn Extra Credit:</p>
            </div>
            <!-- Components table. By default, three component rows are shown with values of "Component" & "Points". Users can delete all but ONE ROW, and may add a maximum of 15. When a row is deleted, the points are subtracted from the TOTAL POINTS, and the values of the row are reset to "Component" & "0".--> 
            <div>
                <table id="table2" class="components" border="1">
                    <thead>
                        <tr><th class="editable">Activities</th><th>Points</th></tr>
                    </thead>
                     <tfoot>
                    <tr>&nbsp;</tr>
                    </tfoot>
                    <tbody>
                        <tr id="2.1"><td class="editable">EC Activity 1</td><td class="editable right">0</td></tr>
                        <tr id="2.2"><td class="editable">EC Activity 2</td ><td class="editable right">0</td></tr>
                        <!-- Code Component Add/Remove buttons in .section2 of Grades control panel-->
                        <tr class="total nodrag"><td>Total Extra Credit Points</td><td class="right">#</td></tr>
                    </tbody>
                </table>
            </div>                                                                                          
        </div><!-- .section2 -->
        <div class="section3 hide">
            <div class="editableHtml">
                <p>&nbsp;</p>
                <p>Your grade will be calculated with this scale:</p>
            </div>
            <div>
            <!-- Grading scale table. The UPPER point range is always calculated by subtracting one point from the LOWER point range of the row above. Users can change the LOWER perctange value, which will recalculate the UPPER percentage value for the next row by subtracting 1, and then recalculate the points. Users can delete grade sublevels [example: C- ] and the percentage values for the fields above and below will recalculate; the points scale will then recalculate. Users can add a "D-", set the percentage value, and the percentage values for "D" and "F" will recalcultate; the points scale will then recalculate.-->
            <!-- The Grades scale needs to be visible in PREVIEW even if the user has hidden it while editing.-->
            <table id="tableScale" class="components" border="1">
                <thead>
                    <tr><th>Grade</th><th>Percentage</th><th>Points</th></tr>
                </thead>
                <tfoot>
                    <tr>&nbsp;</tr>
                </tfoot>
                  <tbody class="center">
                    <tr><td>A</td><td>93 - 100</td><td>0 - 0</td></tr>
                    <tr class="even"><td>A-</td><td>90 - 92</td><td>0 - 0</td></tr>
                    <tr><td>B+</td><td>87 - 89</td><td>0 - 0</td></tr>
                    <tr class="even"><td>B</td><td>83 - 86</td><td>0 - 0</td></tr>
                    <tr><td>B-</td><td>80 - 82</td><td>0 - 0</td></tr>
                    <tr class="even"><td>C+</td><td>77 - 79</td><td>0 - 0</td></tr>
                    <tr><td>C</td><td>73 - 76</td><td>0 - 0</td></tr>
                    <tr class="even"><td>C-</td><td>70 - 72</td><td>0 - 0</td></tr>
                    <tr><td>D+</td><td>67 - 69</td><td>0 - 0</td></tr>
                    <tr class="even"><td>D</td><td>60 - 66</td><td>0 - 0</td></tr>
                    <tr><td>F</td><td>59 - below</td><td>0 - 0</td></tr>
                </tbody>
            </table>
            </div>
        </div><!-- .section3 -->
    </div><!-- .content -->

</section><!-- #grades -->
