<div class="col-sm-12">
  <p class="text-center">
    This report is already generating. Please wait 5 minutes before trying again.
  </p>
  <p class="text-center">
    <a class="btn btn-info" href="/admin/canvas">Back to dashboard</a>
  </p>
</div>
