<div class="col-sm-12">
  <p class="text-center">
    This report is generating. Please wait 5 minutes before trying again.
  </p>
  <p class="text-center">
    <a class="btn btn-info" href="/admin/reports">View Reports</a>
  </p>
</div>
