<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>News</h2>
        
        <h3>opensource.com</h3>
        <p>
          <a href="http://opensource.com/education/13/11/salsa-open-source-syllabus" target="_blank">Salsa: open source syllabus creator for educators</a>
        </p>

        <h3>Brainstorm in Progress</h3>
        <p>
          <a href="http://cain.blogspot.com/2013/11/oer-salsa-open-source-syllabus-builder.html" target="_blank"><acronym title="Open Educational Resources">OER</acronym>: Salsa - an open source syllabus builder</a>
        </p>
      </div><!-- .col-sm-4 -->
      <div class="col-sm-4">
        <h2>Resources</h2>

        <h3>Open Syllabus Project</h3>
        <p>
          The <a href="http://opensyllabusproject.org/" target="_blank">Open Syllabus Project</a> seeks to promote institutional cooperation in the task of gathering and analyzing a significant corpus of syllabi.
        </p>

        <h3><acronym title="higher-education">HE</acronym> Syllabus Templates</h3>
        <p>
          Archive of <a href="https://docs.google.com/document/d/12HomlfD_1sPuQo8zUmst7FZLQ7jF8tT5VJiJuO6w9eg/edit?usp=sharing" target="_blank">higher-education syllabus templates</a>.
        </p>
      </div><!-- .col-sm-4 -->
      <div class="col-sm-4">
        <h2>Contribute</h2>

        <h3>GitHub</h3>
        <p>
          <a href="https://github.com/idbygeorge/salsa" target="_blank">Salsa project repository</a>
        </p>  

        <h3>PayPal</h3>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="2DEQVJLACRFUA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
      </div><!-- .col-sm-4 -->

    </div><!-- .row -->
  </div><!-- .container -->

</footer>