<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Salsa: styled & accessible learning service agreements</title>
    <%= stylesheet_link_tag "start", media: "all" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="app/assets/stylesheets" type="text/css" href="foundation_and_overrides.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44309909-1', 'usu.edu');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
<!-- Navigation -->
 
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Salsa
          </a>
        </h1>
      </li>
      <!--menu
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
       end menu-->
    </ul>
 

    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="mailto:salsa@usu.edu">salsa@usu.edu</a>
        </li>
      </ul>
    </section> 
    
  </nav>
 
  <!-- End Top Bar -->
 
  <!-- Content -->

  <div class="content row">
    <div class="large-12 columns" style="margin: 25px; padding-right: 45px;">
      <h2>FAQs</h2>
    <ol>
      <li>Text.</li>
      <li>Text.</li>
      <li>Text.</li>
    </ol>
    </div>
  </div>
 
      <!-- End News -->
      
      <!-- Footer -->
 
      <footer class="row">
        <div class="large-12 columns">
            <div class="row">
              &nbsp;
        </div>
      </footer>
 
    <!-- End Footer -->
  
      </div>
    </div>
 
    <!-- End Content -->
 
 
   <%= javascript_include_tag "application" %>
 

  </body>
</html>