<style type="text/css">
body
{
background-image:url('welcomeBG.png');
width: 800px;
height: 600px;
box-align: center;
}
</style>
<body>
<div>
<h2>Welcome to <i>Salsa</i>!</h2>
<p><%= link_to 'Create styled & accessible learning service agreements for your courses.', new_syllabus_path %></p>
</div>
</body>
