<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-4">
      <img src="/img/home/what.jpg" alt="">
      <h2>What are <acronym title="Styled &amp; accessible learning service agreements">SALSAs</acronym>?</h2>
      <p>SALSAs are Styled &amp; Accessible Learning Service Agreements.</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
      <img src="/img/home/why.jpg" alt="">
      <h2>How is a <acronym title="Styled &amp; accessible learning service agreement">SALSA</acronym> different?</h2>
      <p>SALSA’s promote:</p>
      <ul>
        <li>learner-centric formatting</li>
        <li>well-defined learning</li>
        <li>outcomes/objectives</li>
        <li>compliance with ADA requirements</li>
        <li>provide targeted information for today's learning environments: online, hybrid, flex and face-to-face.</li>
      </ul>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
      <img src="/img/home/how.jpg" alt="">
      <h2>How does Salsa work?</h2>
      <p>Salsa generates a unique and random hyperlink for you. Bookmark or copy your hyperlink with the "My SALSA" button. Use the hyperlink to return and edit your SALSAs. Publish your SALSAs to generate a new hyperlink to a "read-only" copy of your Salsa in HTML format. No email address or signup is required.</p>
    </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-8">
      <h2>Who is developing Salsa?</h2>

      <p>Salsa is an open-source web application being developed at <a href="http://usu.edu/">Utah State University</a>. The project team is located at the <a href="http://cidi.usu.edu/">Center for Innovative Design &amp; Instruction</a>.<p>
    </div><!-- .col-sm-8 -->

    <div class="col-sm-4">
      <a href="https://twitter.com/salsa4he">@Salsa4HE</a>
      <a href="mailto:salsa@usu.edu">Email Us</a>
    </div><!-- .col-sm-4 -->
  </div><!-- .row -->
</div><!-- .container.marketing -->