<div><%= image_tag 'welcomeBG.png' %>
<h2>Welcome to <i>Salsa</i>!</h1>
<p><%= link_to 'Create styled & accesible learning service agreements for <i>your</i>courses.', new_syllabus_path %></p>
</div>
