<div style="background-image: <%= image_tag 'welcomeBG.png' %> ">
<h2>Welcome to <i>Salsa</i>!</h1>
<p><%= link_to 'Create styled & accessible learning service agreements for your courses.', new_syllabus_path %></p>
</div>
