<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Salsa: styled & accessible learning services agreements</title>
<%= stylesheet_link_tag "start", media: "all" %>
</head>
<body>
<div class="watermark">	
  <div class="title"> 
  		<h1><i>&iexcl;Welcome to Salsa!</i></h1>
                <p>Salsa is an open-source web application developed at <a href="http://cidi.usu.edu" target="blank">Utah State University</a>.</p>
                <p>Use Salsa to make <b>S</b>tyled & <b>A</b>ccessible <b>L</b>earning <b>S</b>ervice <b>A</b>greements: SALSAs.</p>
                <p><%= link_to sanitize('Create <b>your</b> SALSA--no sign up or email required'), new_syllabus_path %></p>
                <p class="small">Salsa will generate a unique and random URL for you. Publish your SALSA as an online PDF. Bookmark your SALSA with the "My SALSA" button. Use the Bookmark to return and edit your SALSA.</p>
    </div>
    </div>
</div>
</body>
</html>
