<%= render :partial => "organizations/breadcrumbs", locals: {organization: @organization} %>

<%- model_class = Period -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form', locals:{ period_form_path: period_path(params[:slug],@period.id, org_path: params[:org_path])} %>
