<%= link_to 'Add User', new_admin_user_path, class: 'btn btn-success' %>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, admin_user_path(id: user[:id])%>
    </li>
  <% end %>
</ul>

<pre>
  <% if @session['canvas_access_token'] %>
    <%= @session['canvas_access_token']['user'].to_json %>
  <% end %>
</pre>
