<% if params[:controller] == "organization_users" %>
  <h1><%= link_to organization_path(params[:slug]) do %><small><%= @organization.name %></small><% end %></h1>
<% end %>
<h1>Add User</h1>
<%= render 'edit' %>
