  <div class="content_toolbar">
      <p>
          <a href="#example" id="content_example_link"><i class="foundicon-star" title="Example"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#help" id="content_help_link"><i class="foundicon-heart" title="Help"></i></a>
      </p>
  </div>
