  <div class="content_toolbar">
      <p>
          <a href="#example" id="content_example_link"><span class="fi-info" title="Example"></span></a>
          <a href="#help" id="content_help_link"><span class="fi-heart" title="Help"></span></a>
          <a href="#disable" id="content_disable_link"><span class="fi-minus-circle" title="Disable"></span></a>
      </p>
  </div>