<footer>
    <nav>
        <ul>
            <li><a href="http://usu.edu">Utah State University</a></li>
            <li><a href="http://cidi.usu.edu">CIDI</a></li>
        </ul>
        <a class="home" href="/">Salsa</a>
    </nav>
</footer>
