<div id="help_page" class="hide">
  <div id="help">

    <div id="help_information" class="help_section">
      <div class="help_content">
        <h1 class="i">Information help</h1>
        <div class="viewHelp">
          <div>Provide the following in the <strong>Information</strong> portion of your SALSA:<br /><br /></div>
          <h2>Course</h2>
          <div>Provide the course title, the course number, and the current term designation. You may use up to five lines of text in this section.<br /><br /></div>
          <h2>Suggested Sections</h2>
          <h3>Contacts (Section 1)</h3>
          <div>Your title and primary contact method. Provide information about your communication preferences --when you will check email, how quickly you will respond, etc. --in the <strong>Course Policies</strong> section.<br /><br /></div>
          <div><a href="#help_policies">View Policies help</a><br /><br /></div>
          <div>If you are team teaching and/or have a Teaching Assistant, use the &#8221;add contact&#8221; tool to add up to three additional Contacts.<br /><br /></div>

          <h3>Description (Section 3)</h3>
          <div>A description of your course. Here are some suggested formats:
            <ul>
              <li>Outcomes-based narrative: link together your Outcomes to tell the &#8221;story&#8221; of your course</li>
              <li>Questions: pose a series of questions that the course will help your student answer</li>
              <li>Anecdote: give an example from your experience that engages the student and creates
                a context for learning</li>
            </ul>
          </div>
          <h2>Additional Sections</h2>
          <div>Use the &#8220;Section 2&#8221; tool to show a new section before the <strong>Course Description</strong>. Use
            the &#8221;Section 4&#8221; and &#8221;Section 5&#8221; tools to place new sections after the <strong>Course Description</strong>.
          </div>
        </div><!-- viewHelp-->
      </div>
    </div><!-- #help_information -->

    <div id="help_outcomes" class="help_section">
      <div class="help_content">
        <h1 class="o">Outcomes help</h1>
        <div class="viewHelp">
            <div><strong>Outcomes</strong> are statements created to define and/or measure desired student behavior. <strong>Learning Outcomes</strong> use an action verb to describe the measurable results of <strong>Learning Activities</strong>.<br /><br /></div>
          <h2>Bloom's Revised</h2>
              <div>The &#8220;Bloom's Revised&#8221; tool provides a set of action verbs organized into six levels: remember, understand, apply, analyze, evaluate and create. Clicking on a level opens a window with a group of action verb buttons. Clicking on a button inserts the action verb into a new <strong>Learning Outcome</strong> text field.<br /><br />
              </div>
           <h2>Outcomes</h2>   
            <div>The <strong>Learning Outcomes</strong> section uses a common "stem" for all outcomes:<br /><br />
            </div>
              <div style="text-align:center">Upon completion of this course you will be able to:<br /><br /></div>  
            <div>You may modify this stem by selecting the text field and using the text editor. You may also delete this stem if you would prefer to use different stems embedded in each <strong>Learning Outcome</strong>.<br /><br /></div>
           
          <h2>Additional Sections</h2>
            <div>Use the &#8220;Section 2&#8221; tool to add a new section after the <strong>Learning Outcomes</strong> section of your SALSA.</div>
        </div><!-- viewHelp-->
      </div>
    </div><!-- #outcomes -->

    <div id="help_resources" class="help_section">
      <div class="help_content">
        <h1 class="r">Resources help</h1>
        <div class="viewHelp">
            <div><strong>Resources</strong> are components available to influence and/or measure student behavior. <strong>Learning Resources</strong> are materials provided to achieve <strong>Learning Outcomes</strong> through <strong>Learning Activities</strong>.<br /><br /></div>
          <h2>Suggested Headings</h2>
            <div>Provide the following in the <strong>Learning Resources</strong> section of your SALSA:<br /><br /></div>
              <h3>Learning Management System</h3>
                <div>The login infromation for your Learning Management System and information on the best web browser(s) to use.<br /><br /></div>
              <h3>Techinical Support</h3>
                <div>Contact information--website links, telephone numbers, etc.--for technical support services available to students.<br /><br /></div>
              <h3>Required Software</h3>
                <div>A detailed list of all software needed for the course. <strong>DO NOT</strong> assume that students will have commonly-used software such as Microsoft Word or Microsoft PowerPoint. You may wish to provide information about open-source alternatives such as OpenOffice Writer.<br /><br /></div>
                <div><a href="http://www.openoffice.org/" target="_blank">Visit the Open Office website</a><br /><br /></div>
                <div>If you are team teaching and/or have a Teaching Assistant, use the &#8221;add contact&#8221; tool to add up to three additional Contacts.<br /><br /></div>
              <h3>Textbook and/or other Reading Materials</h3>
                <div>Information about textbooks, course packets, journal articles, and other reading materials used in the course. Include details such as textbook ISDN number(s), where to purchase reading materials and access information for password-protected digital assets.<br /><br /></div>
              <h3>Videos</h3>
                <div>Information about videos and/or other multimedia that will be used in the course. Also information about where (LMS, external website, etc.) and how (login information) students will access these resources. Information on software needed to run multimedia (Flash, HTML 5 browser, etc.) is placed in the <em>Required Software</em> section.<br /><br /></div>
        <h2>Additional Sections</h2>
            <div>Use the &#8220;Section 2&#8221; tool to add a new section after <strong>Learning Resources</strong>.</div>
        </div><!-- viewHelp-->
      </div>
    </div><!-- #resources -->

    <div id="help_activities" class="help_section">
      <div class="help_content">
        <h1 class="a">Activities help</h1>
        <div class="viewHelp">
            <div><strong>Activities</strong> are opportunities to created to influence and/or measure defined student behavior. <strong>Learning Resources</strong> are used in <strong>Learning Activities</strong> to achieve <strong>Learning Outcomes</strong>. There are two types of <strong>Learning Activities:</strong><br /></div>
              <ul>
                <li><strong>Application Activities</strong> are opportunities for students to demonstrate knowledge and skills</li>
                <li><strong>Acquisition Activities</strong> are opportunities for students to gain knowledge and skills</li>
              </ul>
              <div>Common <strong>Learning Activities</strong>:</div>
                <ul>
                <li>Readings</li>
                <li>Videos</li>
                <li>Discussions</li>
                <li>Assignments</li>
                <li>Assessments</li>
              </ul>
            <div>Provide <i>general</i> information on <strong>Learning Activities</strong> in your SALSA: types, frequency and relationships to other <strong>Learning Activities</strong>.<br /><br /></div>
            <div>Provide <i>specific</i> information on <strong>Learning Activities</strong> in your <i>Learning Management System</i>: instructions, examples and due dates/times.<br /><br /></div>
            <h2>Additional Sections</h2>
            <div>Use the &#8220;Section 2&#8221; and &#8220;Section 3&#8221; tools to place new sections after <strong>Learning Activities</strong>.</div>
        </div><!-- viewHelp-->
      </div>
    </div><!-- #activities -->

    <div id="help_policies" class="help_section">
      <div class="help_content">
        <h1 class="p">Policies help</h1>
        <div class="viewHelp">
          <h2>Suggested Headings</h2>
            <div>Provide the following in the <strong>Course Policies</strong> section of your SALSA:<br /><br /></div>
            <h3>Instructor Feedback/Communication</h3>
                <div>The types of feedback and communication the instructor will provide, and which communication tools will be used. The response time for each type and tool.<br /><br /></div>
              <h3>Student Feedback/Communication</h3>
                <div>The types of feedback and communication the instructor will accept, and which communication tools will be used. The response time for each type and tool.<br /><br /></div>
              <h3>SALSA Changes</h3>
                <div>The actions you will take if your SALSA must be revised. The actions students should take if there is a discrepancy between your SALSA, and other sources of information, i.e. - the learning management system.<br /><br /></div>
              <h3>Late Work</h3>
                <div>Your expectations regarding late work:<br />
                  <ul>
                    <li>Acceptable circumstances</li>
                    <li>Student responsibilties</li>
                    <li>Penalties</li>
                  </ul></div>
              <h3>Academic Honesty</h3>
                <div>A thorough definition of academic dishonesty, and the actions that you will take in response to confirmed violation.<br /><br /></div>
              <h3>Students with Disabilities</h3>
                <div>The process by which students with disabilities will receive assistance.<br /><br /></div>
        <h2>Additional Sections</h2>
            <div>Use the &#8220;Section 2&#8221; and &#8220;Section 3&#8221; tools to add sections that distinguish between policies required by different organizational levels, such as:<br />
              <ul>
                    <li>Institution</li>
                    <li>College</li>
                    <li>Department</li>
                    <li>Program</li>
                  </ul>
            </div>
       <h2>Page Break</h2>
            <div>A page break is inserted after <strong>Policies</strong> in order to keep all <strong>Grades</strong> information on a single page. Before the page break, students are notified: "Please see next page for Grades information." You may change the contents of this statement by clicking on the text field and using the text editor.<br /><br />
              Use the &#8220;Page Break&#8220; tool to show or hide the page break statement. When the statement is hidden, the page break will be removed from your SALSA.
            </div>
        </div><!-- viewHelp-->
      </div>
    </div><!-- #policies -->

    <div id="help_grades" class="help_section">
      <div class="help_content">
        <h1 class="g">Grades help</h1>
        <div class="viewHelp">
          <h2>Sections</h2>
            <div>Provide the following in the <strong>Grades</strong> portion of your SALSA:<br /><br /></div>
              <h3>Items</h3>
                <div>Items are point-based <strong>Learning Activities</strong>. In the <i>Items</i> column type in the name and the quantity of/points per (if needed).<br /><br /></div>
              <h3>Points</h3>
                <div>In the <i>Points</i> column type in the total amount of points possible for the component. &#8220;Total Points&#8221; are calculated automatically.<br /><br /></div>
          <h2>Additional Sections</h2>    
              <h3>Extra Credit</h3>
                <div>Click on the <i>Extra Credit</i> tool to add a section about optional points. <i>Extra Credit</i> points are not added to Total Points.<br /><br /></div>
              <h3>Scale</h3>
                <div>Click on the <i>Scale</i> tool to view the built-in grading scale. The Scale is calculated automatically based on &#8220;Percentages&#8221; and &#8220;Total Points&#8221;, and is always the <i>final</i> portion of your SALSA.<br /><br /></div>
        </div><!-- viewHelp-->
      </div>
    </div><!-- grades -->
      <div id="help_faqs" class="help_section">
      <div class="help_content">
        <h1>Salsa FAQs</h1>

        <div class="viewHelp">
          <h2>What are a "SALSAs"?</h2>
            <div>SALSAs are: <b>S</b>tyled & <b>A</b>ccessible <b>L</b>earning <b>S</b>ervice <b>A</b>greements.<br /><br /></div>
          <h2>What is <i>Salsa</i>?</h2>
            <div><i>Salsa</i> is an open-source SALSA authoring tool developed at the Center for Innovative Design & Instruction at Utah State University.<br /><br />
        </div>
          <h2>What is the <strong>OAR</strong> model?</h2>
            <div><i>Salsa</i> uses the Objectives-Resources-Activities (OAR) model as a development framework. <a href="http://www.oarmodel.com" target="_blank">Learn more about the OAR model</a>.<br /><br />
            </div>
      </div>
    </div><!-- faqs -->
  </div>
</div>