    <nav id="tabs">
        <ul>
            <li class="information"><a href="#information">Information</a></li>
            <li class="outcomes"><a href="#outcomes">Outcomes</a></li>
            <li class="resources"><a href="#resources">Resources</a></li>
            <li class="activities"><a href="#activities">Activities</a></li>
            <li class="policies"><a href="#policies">Policies</a></li>
            <li class="grades"><a href="#grades">Grades</a></li>
        </ul>
    </nav>
