@import "compass/css3/images";
$base_color: #556677;
$lighten_percent: 10%;

$button_top: lighten($base_color, $lighten_percent+10%);
$button_bottom: lighten($base_color, 5%);

$dialog_titlebar: lighten($base_color, $lighten_percent);
$hover: lighten($base_color, $lighten_percent);

/* gradients */
@mixin gradient() {
    background-color: $button_bottom; // Old browsers
    @include filter-gradient($button_top, $button_bottom, vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, $button_top 0%, $button_bottom 100%));
}

#share_prompt, #choose_institution_prompt {
    a.button, button {
        background-color: #333;
        padding: .5em .5em;
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
        border: none;

        &:hover {
            background-color: $hover;
        }
    }

    .details {
        margin: -20px 0px 0px 140px;
    }
}

#pdf_share_link {
    em {
        display: block;
        font-size: .8em;
    }
}

.masthead, footer, #preview_control { background: $base_color; overflow: hidden; }
    .masthead li, footer li { float: left; }
    footer li a, footer span { padding: 5px; display: block; }
    #preview_control a { float: right; }

    .masthead a, footer a, #preview_control a, .masthead a:visited, footer a:visited, #preview_control a:visited, #preview_control .previewLabel { display: block; padding: 5px 20px; color: #fff; text-decoration: none; }
    .masthead a:hover, footer a:hover, #preview_control a:hover, .masthead a:focus, footer a:focus, #preview_control a:focus { background: $hover; color: #eee; }

    a.home { float: left; }

    .masthead { top: 0; }
    footer { bottom: 0; }
    .masthead, footer { color: #fff; position: fixed; left: 0; right: 0; z-index: 999; }
    #toolbar i {font-size:.85em;text-decoration:none;padding-right:.5em;}
    #share_prompt{padding-top:10px;}
    #edit_syllabus{
        #page{
            section{display:none;}
            section.active{display:block;}
        }
    }

    nav {max-width: 930px; margin: auto; }

#wrapper { height: 100%; width: 916px; position: relative; overflow: hidden; min-height: 400px; margin: auto; }
    #tabs { float: left; margin-top: 100px; width: 100px; margin-left: 10px;}
        #tabs li { text-align: left; line-height: 1.4; }
            #tabs li a { display: block; padding: 4px 4px 4px 8px; background: #EBEBEB; color: black; text-decoration: none; border: solid 3px #EBEBEB; }
            #tabs li a:hover, #tabs li.selected a { background: #fff; border-color: #aaa; }
            #tabs li a:hover.tool, #tabs li.selected a.tool { border-color: #556677;}
            #tabs li i {float: right;}

            #tabs li.button {margin-bottom: 3px;}
            #tabs li.noicon {padding-right: 15px;}
            #tabs li.save {margin-bottom: 20px;}
            #tabs li.preview {margin-top: 20px;}

            #tabs li.information a:hover, #tabs li.information.selected a, .information #controlPanel { border-color: #C0C0C0; }
            #tabs li.outcomes a:hover, #tabs li.outcomes.selected a, .outcomes #controlPanel, .outcomes #topBar { border-color: #7FC5EC; }
            #tabs li.resources a:hover, #tabs li.resources.selected a, .resources #controlPanel { border-color: #F0E22E; }
            #tabs li.activities a:hover, #tabs li.activities.selected a, .activities #controlPanel { border-color: #A1CC3A; }
            #tabs li.policies a:hover, #tabs li.policies.selected a, .policies #controlPanel { border-color: #BEBEE0; }
            #tabs li.grades a:hover, #tabs li.grades.selected a, .grades #controlPanel { border-color: #D4DAC8; }

div#container {
    border-color: #556677;
}

    #controlPanel { float: right; width: 148px; margin-top: 46px; max-height: 80%; overflow: auto; font-size: 12px; }
        #controlPanel header { }
            #controlPanel header input, #controlPanel header a { width: 100%; background: transparent; border: 0 none; color: #fff; font-weight: bold; text-decoration: none; }

        #controlPanel .ui-state-default header { opacity: .4; }
        #controlPanel .ui-state-active header { opacity: 1; }
        #controlPanel .ui-state-default fieldset { display: none; }
        #controlPanel .ui-state-active fieldset { display: block; }
        #controlPanel section { padding: 5px; overflow: hidden; background: #fff;}
        #controlPanel section.first { padding-bottom: 0px;}
        #controlPanel header { @include gradient(); color: #fff; padding: 0 5px; line-height: 1.8; font-weight: bold; white-space: nowrap; text-align: center; }
        #controlPanel header.tool { background: $base_color; }
        #controlPanel span.medium { font-size: 16px; line-height: 1.2;}
        #controlPanel fieldset, #controlPanel dl { border: 0 none; padding: 3px 3px 3px 5px; background: #eee; margin: 0; }
            #controlPanel dt { background: #fff; line-height: 1.9; margin-bottom: 3px; text-align: center; cursor: pointer; }
            #controlPanel dt.ui-state-active { font-weight: bold; background: $base_color; opacity: .6; color: #fff; }
            #controlPanel dd { display: none; text-align: center; }
        #controlPanel legend { background: #fff; margin-right: 4px; float: left; width: 70px; line-height: 1.9; text-align: center; }
        #controlPanel fieldset.radioset legend { width: 100%; margin-bottom: .5em; }
        #controlPanel fieldset label { position: absolute; left: -999999px; }
        #controlPanel fieldset.radioset label { position: static; left: 0; font-size: .8em; }
        #controlPanel fieldset input { width: 2em; height: 2em; float: left; margin-left: 2px; line-height: 1; padding-left: 0; padding-right: 0; text-align: center; vertical-align: middle; }
        #controlPanel fieldset.radioset input { width: auto; height: auto; float: none; }

    #controlPanel, #container, #topBar { border: solid 2px #aaa; border-radius: 10px; }

    #container, #topBar { position: absolute; top: 46px; bottom: 35px; left: 116px; overflow: auto; background: #fff; width: 640px; }
        #page { padding: 15px; }
            .content { min-height: 1.4em; }
                .editing input, .editing textarea { width: 100% !important; text-align: left !important; }
                li.editing input { width:90% !important; }
                .right.editing input, #grade_scale .editing input { width: 30px !important; text-align: right !important;}
                #grade_scale.inactive td, #grade_scale.inactive th {
                    color: #999;
                    background: #eee;
                }
                .editingNum input, .editingNum textarea { width: 50%; text-align: right; }


        .enableViewMessage { text-align: center; }
            .enableViewMessage button { margin: 2em; padding: 1em; }


#templates { display: none; }


    #preview_control { display: none; position:fixed; width:100%; top:0;}
    #preview section { border: solid 1px #fff;  padding-left: .25in; /*min-height: 11in;*/ }

#topBar { z-index: 100; background: #fff; bottom: auto; }
    #topBar h2 { text-align: center; margin: 5px 18px 0px; font-size: 10pt; color: #fff; background: $base_color; opacity: .6; }

    #topBar ul { list-style: none; margin: 0; padding: 4px 15px 8px; overflow: hidden; }
        #topBar li { float: left; text-align: center; margin: 3px; width: 19%; }
            #topBar li a { background: #fff; color: #000; line-height: 1.6; text-decoration: none; display: block; }
            .outcomes #topBar li a { background: #7FC5EC; }

#messages {
    display: block; z-index: 999999999; top: 28px; position: fixed; width: 100%; text-align: center; background-color: #ffe; border-bottom: solid 1px #ddd;

    div {

    }
}

h2.prompt {
    font-weight: normal;
    font-style: italic;
}

/* removing this for the #messages queue */
.message {
    .font-size: .8em;
    border: solid 1px #090;
    padding: .5em 1em;
    margin: 1em 3em;

    &.notice {
        background: #efe;
    }

    &.warning {
        background: #ffe;
        border-color: #773420;
    }
}

#compilation_tabs .right { float: right;}

#components tr.myDragClass td { font-weight: bold; background-color: #ffe4b5; }

/* Modal Dialog Styles */
div {
    .ui-dialog {
        z-index: 1000;
    }
    .ui-dialog-titlebar {
        background: $dialog_titlebar;
        border-radius: 0;
        border: 0px;
        color: #fff;
        font-weight: normal;
    }
    .ui-dialog-titlebar-close {
        background: none;
        border-radius: 0;
        font-weight: normal;
        color: #fff;
        width: 70px !important;
        border: none;
    }
    .ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:active, .ui-dialog-titlebar-close:focus {
        background: none;
        border:none;
        color: #fff;
    }
    .ui-icon-closethick {
        background: none;
    }
}

#editor_view{height:100%;}
.content_toolbar { position: absolute; top: 57px; right: 170px;}
.content_toolbar a {color:$base_color; font-size: 1em; text-decoration: none;}
.informationIcon a {color:#c0c0c0; font-size: 1em; text-decoration: none;}
.outcomesIcon a {color:#7fc5ec; font-size: 1em; text-decoration: none;}
.resourcesIcon a {color:#f0e22e; font-size: 1em; text-decoration: none;}
.activitiesIcon a {color:#a1cc3a; font-size: 1em; text-decoration: none;}
.policiesIcon a {color:#bebee0; font-size: 1em; text-decoration: none;}
.gradesIcon a {color:#d4dac8; font-size: 1em; text-decoration: none;}
