html, body { height: 100%; min-height: 420px; position: relative; }

.hide { display: none; }

#page_break { page-break-after: always; }

#example, #mySalsa{
    display:none;
}

#preview { width: 8.5in; margin: 0 auto; display: none; padding: 0 .5in .5in 0; background: #fff; min-height: 11in;}
#view_syllabus #preview {display:block;}
#view_syllabus i{display:none;}

table.components {color:#000;width:70%;border-width: 1px;border-color: #c0c0c0;border-collapse: collapse;}
table.components tbody.center {text-align:center;}
table.components th {color:#fff;background-color:#696969;;border-width: 1px;border-style: solid;border-color: #c0c0c0;text-align:center;}
table.components tr.total {font-weight:bold;}
table.components tr.even { background: #e8e8e8;}
table.components td {border-width: 1px;padding: 8px;border-style: solid;border-color: #c0c0c0;}
table.components td.left {text-align:left;}
table.components td.right {text-align:right;}
table.components tr.myDragClass td {color:#666;background-color: #ffe4b5; }

#grade_components{
    input{
        width:60px;
        text-align:right;
    }
}
#extra_credit{
    input{
        width:60px;
        text-align:right;
    }
}
#grade_scale{
    input{
        width:30px;
        text-align:center;
    }
    span.editable{
        padding:0 10px;
    }
}
#old_html{
    display:none;
}
/* Modal Dialog Styles */
.ui-dialog {
    z-index: 1000;
}
.ui-dialog-titlebar {
    background: #456b7f;
    border-radius: 0;
    border: 0px;
    color: #fff;
    font-weight: normal;
}
.ui-dialog-titlebar-close {
    background: none;
    border-radius: 0;
    font-weight: normal;
    color: #fff;
    width: 70px !important;
    border: none;
}
.ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:active, .ui-dialog-titlebar-close:focus {
    background: none;
    border:none;
    color: #fff;
}
.ui-icon-closethick {
    background: none;
}

#custom-url {
    padding: 5px;
    border: 1px solid #456b7f;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
