html, body { height: 100%; min-height: 420px; position: relative; }

.hide { display: none; }

#page_break, .page_break { page-break-after: always; text-align: center; }

#example_tab #example, #help_tab #help_page { display: block; max-height: 600px; overflow: auto; }

#example, #mySalsa {
    display:none;
}

section.disabled {
    display: none !important;
}

#preview { width: 8.5in; margin: 0 auto; display: none; padding: 0 .5in .5in 0; background: #fff; min-height: 11in;}
#spacer { padding-top: .25in; background-color: #fff; display: none; }
#view_syllabus #preview {display:block;}
#view_syllabus i{display:none;}

.col-left { width: 30%; }
.col-left15 { width: 15%; }
.col-middle { width: 30%; }
.col-middle35 { width: 35%; }
.col-right { width: 40%; } 
.col-right50 { width: 50%; } 

table.components { color:#000;width:70%;border-width: 1px;border-color: #c0c0c0;border-collapse: collapse; margin: 1em 0; margin-left: 20px; }
table.components tbody.center {text-align:center;}
table.components th {color:#fff;background-color:#696969;;border-width: 1px;border-style: solid;border-color: #c0c0c0;text-align:center;}
table.components tr.total {font-weight:bold;}
table.components tr.even { background: #e8e8e8;}
table.components td {border-width: 1px;padding: 8px;border-style: solid;border-color: #c0c0c0;}
#compilation_tabs table.components td.left, #compilation_tabs table.components td.left, table.components td.left {text-align:left; float: none; }
#compilation_tabs table.components td.right, #compilation_tabs table.components td.right, table.components td.right {text-align:right; float: none; }
table.components tr.myDragClass td {color:#666;background-color: #ffe4b5; }

table.schedule {
    color:#000;width:90%;border-width: 1px;border-color: #c0c0c0;border-collapse: collapse; margin: 1em 0; margin-left: 20px;
    th {
        color:#fff;background-color:#696969;;border-width: 1px;border-style: solid;border-color: #c0c0c0;text-align:center;

        input { text-align: center !important; }
    }
    td {border-width: 1px;padding: 8px;border-style: solid;border-color: #c0c0c0;}
    td.left {text-align:left; float: none; }
     td.center {text-align:center; float: none; }
    td.right {text-align:right; float: none; }
    tr.myDragClass td {color:#666;background-color: #ffe4b5; }
}

caption { padding-bottom: 15px; font-size: 1em; font-weight: bold; }

caption.grade { text-align: left; }

#page section h1 div, #preview section h1 div, h1 div {
    margin: 0;
    padding: 0;
}

a#tb_save_canvas.highlight {
    color: orange;
    font-size: 10px;
    background: white;
    margin: 2px 0px 3px 0px;
    padding-bottom: 3px;  
}

#grade_components{
    input{
        width:60px;
        text-align:right;
    }
}
#extra_credit{
    input{
        width:60px;
        text-align:right;
    }
}
#grade_scale {
    input {
        width:30px;
        text-align:center;
    }
    span.minRange, span.maxRange {
        padding:0 10px;
        min-width: 20px;
        display: inline-block;
    }
}
#old_html{
    display:none;
}


#custom-url {
    padding: 5px;
    border: 1px solid #456b7f;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.clear { clear: both; margin: 0; padding: 0; float: left; }

