<%= form_for @organization, url: organization_path, method: :delete, html: { class: 'pull-right' } do |f| %>
  <div class="form-group">
    <%= f.submit "Delete #{@organization[:name]}", class: 'btn btn-danger' %>
  </div>
<% end %>

<h1>Edit Organization</h1>
<%= render 'edit' %>
