<%- model_class = WorkflowStep -%>
<div class="page-header">
  <h1>
  <%= link_to organization_path(params[:slug]) do %><small><%= @organization.name %></small><% end %>
  <br>
  <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form', locals:{ workflow_step_form_path: workflow_step_path(params[:slug],@workflow_step)} %>
