<%- model_class = WorkflowStep -%>
<div class="page-header">
  <%= render :partial => "organizations/breadcrumbs", locals: {organization: @organization} %>
  <h1>
    <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form', locals:{workflow_step_form_path: workflow_steps_path(org_path: params[:org_path])} %>
